
.field--name-field-roc-rule-index-sections .field.field--name-field-rule-index-section-label.field--type-string-long.field--label-hidden.field__item {
  padding: 1rem 3rem 0 3rem;
  font-size: var(--gin-font-size-xl);
  font-weight: var(--gin-font-weight-semibold);
}
.field--name-field-roc-rule-index-sections .js-lpb-component-list > .lpb-layout > .layout {
  padding-inline: 3rem 1rem;
  padding-block-end: 1.25rem;
}
.field--name-field-roc-rule-index-sections .js-lpb-region > .js-lpb-component > *:not(a, .lpb-controls) {
  padding: 0.5rem 1rem 2rem 3rem;
}
.field--name-field-roc-rule-index-sections .lpb-layout > .layout > .js-lpb-region > .js-lpb-component {
  margin: 1.25rem 0 1rem 0;
}
.field--name-field-roc-rule-index-sections .field.field--name-field-rule-index-section-content.field--type-entity-reference.field--label-hidden.field__items {
  padding: 1rem 1rem 0 4rem;
}
.field--name-field-roc-rule-index-sections .lpb-layout > .layout > .js-lpb-region > .js-lpb-component:last-of-type {
  margin-block-end: 1.35rem;
}

.field--name-field-roc-rule-index-sections .paragraph--type--rule-section.paragraph--view-mode--default ul.list__container {
  padding: 1rem 3rem 0 4rem;
  margin: 0;
  line-height: 1.5;
}

/* This prevents more than 3 layers deep section nesting */
.field--name-field-roc-rule-index-sections .layout__region--content .layout__region--content .layout__region--content {
  display:none;
}

/* Ckeditor admin tweaks */
.node-roc-rule-form .cke_combo__styles .cke_combo_text {
  min-width: 160px;
}

.cke_combopanel__styles {
  width: 196px !important;
  height: 170px;
  /*border: 1px solid var(--gin-border-color) !important;*/
  /*border-radius: var(--gin-border-s) !important;*/
}
