{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav role="navigation" class="jcc-breadcrumb-nav" aria-labelledby="breadcrumb">
    <h2 id="breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ul class="jcc-breadcrumb">
    {% for item in breadcrumb %}
      <li class="jcc-breadcrumb__item">
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          <span aria-current="location">{{ item.text }}</span>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>
{% endif %}
