.jcc-hero {
  .summary {
    margin-bottom: 1.5rem;
  }
}

.jcc-hero--has-background-image {
  background-size: cover;
  background-position: top center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);

  .contacts {
    margin-bottom: .2rem;

    a {
      color: #fef0c8;
    }
  }
}
