// Base
//
// The purpose of this file is to load all required dependencies, mixins,
// helpers, etc. It should be placed at the top of each full Sass file, e.g.
// jcc_base.style.scss, someotherfile.scss.
//
// This file should NOT output any CSS.
//
// -----------------------------------------------------------------------------

// USWDS Core is available, if it's useful, import partials from.
// ./../../../../../libraries/courtyard-artifact/1.x/source/uswds/...

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css';

// Courtyard
@import '../../../../../../libraries/courtyard-artifact/1.x/source/_patterns/00-protons/base/global';
@import '../../../../../../libraries/courtyard-artifact/1.x/source/_patterns/00-protons/trial/global-trial';

@import 'colors';
@import 'variables';
@import 'functions';
@import 'mixins';
