// Base
//
// The purpose of this file is to load all required dependencies, mixins,
// helpers, etc. It should be placed at the top of each full Sass file, e.g.
// jcc_base.style.scss, someotherfile.scss.
//
// This file should NOT output any CSS.
//
// -----------------------------------------------------------------------------

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css';
@import '../../../../../../libraries/courtyard-artifact/source/_patterns/00-protons/global';

@import 'colors';
@import 'variables';
@import 'functions';
@import 'mixins';
