//Core theme palette settings
$jcc-primary-blue-lightest: #eff6fb; //blue-5
$jcc-primary-blue-lighter: #aacdec; //blue-20
$jcc-primary-blue-light: #73b3e7; //blue-30
$jcc-primary-blue: #005ea2; //blue-60v
$jcc-primary-blue-vivid: #2378c3; //blue-50
$jcc-primary-blue-vivid-dark: #0076d6; //blue-50v
$jcc-primary-blue-dark: #0b4778; //blue-70v
$jcc-primary-blue-darker: #112f4e; //blue-80v
$jcc-accent-warm-green-lighter: #008480; //mint-cool-50v
$jcc-accent-warm-green: #0f6460; //mint-cool-60v
$jcc-accent-warm-light: #fef0c8; //gold-5v
$jcc-accent-warm: #ffe396; //orange-10v
