.taxonomy-tooltip-tip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted $theme-color-base-darkest;
  cursor: pointer;

  .jcc_custom_tooltip {
    visibility: hidden;
    width: 200px;
    background: $theme-color-base-darkest;
    color: $theme-color-base-lightest;
    padding: 10px;
    border-radius: 3px;
    font-size: 0.9rem;
    line-height: 1.2rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color:  $theme-color-base-darkest transparent transparent transparent;
    }
  }
  &:hover .jcc_custom_tooltip {
    visibility: visible;
    opacity: 1;
  }
}
