{#
/**
 * @file
 * Markup for inline tooltips.
 *
 * Available variables:
 * - word: the text where the tooltips applies to.
 * - tip: the tooltip text.
 *
 *
 * @ingroup themeable
 */
#}

<abbr class="taxonomy-tooltip-tip">{{ word }}<span class="jcc_custom_tooltip">{{ tip }}</span></abbr>

