.usa-alert::before {
  display: none;
}

.usa-alert {
  margin: 0 0 1rem;
  padding: 0;
  background-image: none;
}

.usa-alert--info {
  .usa-alert__body {
    background-image: url(../../../../../../../libraries/courtyard-artifact/public/img/alerts/info.svg), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image: url(../../../../../../../libraries/courtyard-artifact/public/img/alerts/info.svg), linear-gradient(transparent, transparent);
  }
}
.usa-alert--success {
  .usa-alert__body {
    background-image: url(../../../../../../../libraries/courtyard-artifact/public/img/alerts/success.svg), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image: url(../../../../../../../libraries/courtyard-artifact/public/img/alerts/success.svg), linear-gradient(transparent, transparent);
  }
}
.usa-alert--warning {
  .usa-alert__body {
    background-image: url(../../../../../../../libraries/courtyard-artifact/public/img/alerts/warning.svg), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image: url(../../../../../../../libraries/courtyard-artifact/public/img/alerts/warning.svg), linear-gradient(transparent, transparent);
  }
}
.usa-alert--error {
  .usa-alert__body {
    background-image: url(../../../../../../../libraries/courtyard-artifact/public/img/alerts/error.svg), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image: url(../../../../../../../libraries/courtyard-artifact/public/img/alerts/error.svg), linear-gradient(transparent, transparent);
  }
}

.usa-alert__body {
  display: block;
  max-width: 85rem;
  margin: 0 auto;
  padding: 1rem 1.75rem 1rem 3rem;
  background-size: 2rem;
  background-position: 0;
  background-repeat: no-repeat;
}

.usa-alert__heading {
  display: inline;
  margin-right: 0.5rem;
  font-size: 1.19rem;
  font-weight: bold;
  line-height: normal;
}

.usa-alert__text {
  display: inline;
  margin-bottom: 0.5rem;
  font-size: 1.06rem;
  line-height: normal;
  div {
    display: inherit;
    p:first-child {
      display: inherit;
    }
  }
}

.jcc-alert__action {
  clear: both;
 }
