div[class^='jcc-'] .body p {
  margin-bottom: 16px;
}

.attachments {
  margin-top: 24px;
}

.relevance {
  margin-bottom: 16px;

  div {
    div:not(:first-child) {
      div {
        display: inline;
      }
      div:not(:last-child):after {
        content: ", ";
      }
    }
  }
}
