div[class^='jcc-'] .body p {
  margin-bottom: 16px;
}

.publish_date {
  margin-bottom: 24px;

  div {
    display: inline;
  }
}

.document_type {
  margin-right: 24px;

  div {
    div:not(:last-child):after {
      content: ", ";
    }
  }
}

.attachments {
  margin-top: 24px;
}

.date, .location, .relevance {
  margin-bottom: 16px;
}

.field-label--bold {
  div {
    div:first-child {
      font-weight: bold;
    }
  }
}

.relevance {
  div {
    div:not(:first-child) {
      div {
        display: inline;
      }
      div:not(:last-child):after {
        content: ", ";
      }
    }
  }
}
