div[class^='jcc-'] .body p, .date, .location, .relevance, .geolocation-map-wrapper {
  margin-bottom: 1.25rem;
}

.publish_date {
  margin-bottom: 1.5rem;

  div {
    display: inline;
  }
}

.document_type {
  margin-right: 1.5rem;
}

.attachments {
  margin-top: 1.5rem;
}

.address {
  margin-bottom: 1.5rem;
}

.relevance {
  div {
    div:not(:first-child) {
      div {
        display: inline;
      }
    }
  }
}
