
/* Specific overrides for drupal nav tabs */
/* This removes the weird black lines that appear on view/edit/delete tabs */
.is-horizontal .nav-tabs__tabs--primary:before {
  border: 0;
}

.nav-tabs__tabs--primary .nav-tabs__link {
  border: 0;
}

/* Style for the section background select items (admin side) */
.section.field--select  {
  padding: .5rem;
  max-width: 30ch;
  border: 1px solid var(--color-base-light-x);
}
