
/* Specific overrides for drupal nav tabs */
/* This removes the weird black lines that appear on view/edit/delete tabs */
.nav-tabs .is-horizontal .nav-tabs__tabs--primary:before {
  border: 0;
}

.nav-tabs .nav-tabs__tabs--primary .nav-tabs__link {
  border: 0;
}

.nav-tabs .is-horizontal .nav-tabs__tabs--primary li .nav-tabs__link {
  border: 0;
}

.nav-tabs .is-collapse-enabled .tabs__trigger {
  margin-inline-end: 1rem;
}

/* Style for the section background select items (admin side) */
.section.field--select  {
  padding: .5rem;
  max-width: 30ch;
  border: 1px solid var(--color-base-light-x);
}

/* Style tweaks for landing and subpage paragraph edit form */
.js .gin--edit-form .paragraph-type-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 1rem;
}

.js .gin--edit-form .paragraph-type-title {
  align-self: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #828388;
}

/* External link icons */
svg.ext,
svg.mailto {
  width: 1.2rem;
  height: 1.2rem;
  padding-right: unset;
  margin-inline-start: var(--s-7);
  fill: currentColor;
}
svg.ext path,
svg.mailto path {
  stroke: currentColor;
  stroke-width: 0;
}

/*.gin--edit-form h4,*/
/*.js .gin--edit-form h4 {*/
/*  margin-block-end: 0;*/
/*}*/

/*.gin--edit-form .field--widget-entity-reference-paragraphs .field-multiple-table,*/
/*.js .gin--edit-form .field--widget-entity-reference-paragraphs .field-multiple-table {*/
/*  margin-block-end: 0;*/
/*}*/

/*.gin--edit-form .field-multiple-table .form-item__label--multiple-value-form,*/
/*.js .gin--edit-form .field-multiple-table .form-item__label--multiple-value-form {*/
/*  margin-block-end: 0;*/
/*}*/

.gin--edit-form .horizontal-tabs .horizontal-tabs-panes, .horizontal-tabs [data-horizontal-tabs-panes],
.js .gin--edit-form .horizontal-tabs .horizontal-tabs-panes, .horizontal-tabs [data-horizontal-tabs-panes] {
  margin-block-start: 1.5rem;
}

.gin--edit-form .form-actions,
.js .gin--edit-form .form-actions {
  align-items: center;
  gap: 0.5ch;
}

html[dir="ltr"].js .gin--edit-form .field--widget-paragraphs .paragraphs-dropbutton-wrapper .dropbutton-multiple .dropbutton-widget,
[dir="ltr"] .gin--edit-form .field--widget-entity-reference-paragraphs .form-actions .dropbutton-multiple,
[dir="ltr"] .gin--edit-form .field--widget-entity-reference-paragraphs .form-actions .dropbutton-multiple .placeholder,
[dir="ltr"] .gin--edit-form .field--widget-entity-reference-paragraphs .form-actions .dropbutton-multiple ~ .placeholder {
  margin-inline: 0;
  padding-inline: 0;
}

/*.gin--edit-form .field--widget-paragraphs .form-actions .placeholder,*/
/*.js .gin--edit-form .field--widget-paragraphs .form-actions .placeholder {*/
/*  margin-inline: 0;*/
/*}*/

/*.gin--edit-form .block-system > form .gin-layer-wrapper,*/
/*.js .gin--edit-form .block-system > form .gin-layer-wrapper {*/
/*  padding-bottom: 0;*/
/*}*/

/*.gin--edit-form .dropbutton--gin .dropbutton__item .field-add-more-submit,*/
/*.js .gin--edit-form .dropbutton--gin .dropbutton__item .field-add-more-submit {*/
/*  padding-block: 0;*/
/*}*/

/*.gin--edit-form .gin-table-scroll-wrapper,*/
/*.js .gin--edit-form .gin-table-scroll-wrapper {*/
/*  overflow: hidden;*/
/*  padding-block-end: 0;*/
/*  margin-block-end: 0;*/
/*}*/

.gin--classic-toolbar .page-wrapper__node-edit-form .layout-region-node-secondary {
  padding-top: 0;
}
