.field--widget-jcc-custom-daterange-all-day .form-items-inline .form-item {
  margin-bottom: var(--gin-spacing-m) !important;
}
.field--widget-jcc-custom-daterange-all-day .fieldset__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.field--widget-jcc-custom-daterange-all-day .fieldset__wrapper .form-datetime-wrapper {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
}
.field--widget-jcc-custom-daterange-all-day .fieldset__wrapper .form-datetime-wrapper:last-child {
  margin-right: auto !important;
  margin-inline-end: auto !important;
}
.field--widget-jcc-custom-daterange-all-day .fieldset__wrapper .form-wrapper {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  margin-block-end: 0 !important;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}
.field--widget-jcc-custom-daterange-all-day .fieldset__wrapper .form-type--checkbox {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin-block-end: 0 !important;
}
#field-rfp-important-dates-values .field--name-field-text .cke .cke_contents {
  max-height: 80px !important;
}
.field--widget-jcc-custom-daterange-all-day .fieldset__wrapper .form-wrapper .datetime__help-text {
  margin-inline-start: 1rem;
  padding-inline-start: 1rem;
  border-inline-start: 1px solid var(--gin-border-color, #d4d4d8);
}
.field--widget-jcc-custom-daterange-all-day .fieldset__wrapper .form-wrapper .datetime__action__match-times {
  margin: 0;
}
.no-touchevents .paragraph-type--date-information .paragraphs-actions .button--small {
  margin: 0 0.5rem 0.75rem 0;
}