.fc-event-container a:visited,
.fc-timeGridWeek-view .fc-day-header a {
  color: #ffffff;
}

.fc-dayGridMonth-view .fc-event-container .fc-time {
  display: none;
}

.fc-event-container .fc-content,
.fc-timeGridDay-view .fc-event-container .fc-content {
  padding-inline-start: var(--s-7);
}
