.jcc-opinions-importer-form :not(.form-checkboxes):not(td):not(.media-library-item__click-to-select-checkbox):not(.field-content) > .form-type--checkbox .form-checkbox:not(.jcc-case-form__field)+.checkbox-toggle {
  display: none;
}

.jcc-opinions-importer-form .remove-button {
  display: none;
}

.jcc-opinions__details,
.jcc-opinions__related,
.jcc-opinions__files,
.jcc-opinions .jcc-metadata {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}
@media screen and (max-width: 480px) {
  .jcc-opinions__details,
  .jcc-opinions__related,
  .jcc-opinions__files,
  .jcc-opinions .jcc-metadata {
    width: auto;
  }
}

.jcc-opinions__details {
  line-height: 3.5;
}
