// Styles for featured links menu.
// ------------------------------

.menu--featured-links {

  .menu-item--featured {
    border-width: 4px;
    min-width: 8rem;
    padding: 1rem;

    &--icon {
      padding: 2rem;
    }
  }

  .menu-link-contentfeatured-links {
    margin-top: -2rem;

    img {
      margin-top: -50%;
      background-color: white;
      border-radius: 50%;
    }
  }
}
