/**
 * @file
 * Admin styles for the Database Logging module.
 */
.jcc-migrate-source-ui-filter-form .form-item-type,
.jcc-migrate-source-ui-filter-form .form-item-severity {
  display: inline-block;
  max-width: 30%;
  margin: 0.1em 0.9em 0.1em 0.1em; /* LTR */
}
[dir="rtl"] .jcc-migrate-source-ui-filter-form .form-item-type,
[dir="rtl"] .jcc-migrate-source-ui-filter-form .form-item-severity {
  margin: 0.1em 0.1em 0.1em 0.9em;
}
.jcc-migrate-source-ui-filter-form .form-actions {
  display: inline-block;
  padding: 3ex 0 0;
  vertical-align: top;
}
.admin-jcc-migrate-source-ui .icon,
.admin-jcc-migrate-source-ui .jcc-migrate-source-ui-warning .icon,
.admin-jcc-migrate-source-ui .jcc-migrate-source-ui-error .icon,
.admin-jcc-migrate-source-ui .jcc-migrate-source-ui-critical .icon,
.admin-jcc-migrate-source-ui .jcc-migrate-source-ui-alert .icon,
.admin-jcc-migrate-source-ui .jcc-migrate-source-ui-emergency .icon {
  width: 16px;
  background: no-repeat center;
}
.admin-jcc-migrate-source-ui .jcc-migrate-source-ui-warning .icon {
  background-image: url(../../../misc/icons/e29700/warning.svg);
}
.admin-jcc-migrate-source-ui .jcc-migrate-source-ui-error .icon,
.admin-jcc-migrate-source-ui .jcc-migrate-source-ui-critical .icon,
.admin-jcc-migrate-source-ui .jcc-migrate-source-ui-alert .icon,
.admin-jcc-migrate-source-ui .jcc-migrate-source-ui-emergency .icon {
  background-image: url(../../../misc/icons/e32700/error.svg);
}
