svg.icon {
  width: 1rem;
  height: 1rem;
  color: #005ea2;
}

svg.ext {
  height: 1rem;
  width: 1rem;
  margin: 0 0.25rem;
}
.jcc-header-base .jcc-inline-nav,
.jcc-footer,
footer .jcc-inline-nav{
  svg.ext {
    fill: #ffffff;
  }
}

.placeholder-photo {
  display: block;
  height: 100%;
  background-color: #f3f3f3;
  text-align: center;

  span {
    font-size: 7rem;
    color: #e2e2e2;
    line-height: inherit;
  }
}

.placeholder-profile-img {
  background-color: #fff;
  border: 1px solid #f3f3f3;
  padding: .5rem;

  .placeholder-photo--person {
    height: 8rem;

    i {
      font-size: 5rem;
    }
  }
}
