{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{{ attach_library("jcc_storybook/Icon") }}

<button {{ attributes }}>
  {% include "@atoms/Icon/Icon.twig" with {
    icon: 'fa-search',
    icon_path: url('<front>')|render ~ 'themes/contrib/jcc_storybook/src/assets/icons.svg'
  } %}
  <span class="sr-only">Search</span>
</button>