{{attach_library("jcc_elevated/jrn-directory-staff") }}
<label class="toggle-wrapper"> 
   <input
    type="checkbox"
    id="edit-temporary"
    name="temporary"
    class="form-checkbox toggle-switch"
    {{attributes}}>
  <span class="checkbox-toggle">
    <span class="checkbox-toggle__inner"></span>
  </span>
</label>

