{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

<div class="form-item">
  <div class="stack">
    <input{{ attributes.addClass(classes) }} />{{ children }}
    <p style="margin-block-start:var(--s5); font-size:var(--s1);">
      <strong>&mdash; Or log in with your Drupal account &mdash;</strong>
    </p>
  </div>
</div>
