{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<button{{ attributes }} style="--icon-size: 2.5rem;position: relative; width: 2.5rem; height: 2.5rem;">
  <span class="header-search__search-line"></span>
  <span class="header-search__search-circle">
  </span><span class="sr-only">Search</span>
</button>

