{% set gallery %}
  <p aria-hidden="true">Click on an image below to view in full size</p>

  <div class="grid-container padding-0 jcc-gallery-sidebar">
    <div class="grid-row flex-row">
      {% set gallery_title = images['#title'] %}
      {% set gallery_images = images['#items'] %}

      {# BEGIN Suppress first image used as hero for Feature typed news #}
      {#
      {% if node.type.entity.label|default == 'News' and content.field_news_type[0]['#title'] == 'Feature' %}
        {% set nonFeaturedImages = [] %}
        {% for image in gallery_images %}
          {% if loop.index != 1 %}
            {% set nonFeaturedImages = nonFeaturedImages|merge([image]) %}
          {% endif %}
        {% endfor %}

        {% set gallery_images = nonFeaturedImages %}
      {% endif %}
      #}
      {# END #}

      {% set batch_size = 1 %}
      {# Break up images into two groups #}
      {% if gallery_images|length > 1 %}
        {% set batch_size = gallery_images|length/2 %}
      {% endif %}
      {% for set in gallery_images|batch(batch_size) %} {# Display grouped images in separate columns #}
        <div class="grid-col-12 tablet:grid-col-5 height-full">
          {% for key, image in set %}
            <div class="jcc-gallery-sidebar__card">
              <div class="jcc-gallery-sidebar__card-inner">
                {% if image.entity.field_media_image.entity.uri.value %}
                  {% set image_id = image.entity.field_media_image.entity.fid.value %}
                  {% set image_url = file_url(image.entity.field_media_image.entity.uri.value) %}
                  {% set image_alt = image.entity.field_media_image.alt %}
                  {% set media_caption = image.entity.field_media_caption.value|join(' ')|striptags|replace({'&nbsp;': ' '}) %}

                  {% if image_url %}
                    <a href="{{ image_url }}" class="colorbox cboxElement" data-colorbox-gallery="gallery-beforeafter" title="{{ media_caption }}" aria-label="Click to view larger image">
                      <img src="{{ image_url }}" alt="{{ img_alt }}">
                    </a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endset %}

{% if gallery_images|length != 0 %}
  {% include '@molecules/blocks/card/card.twig' with {
    card: {
      title: gallery_title,
      excerpt: gallery,
    }
  } %}
{% endif %}
