.jcc-page--front {
  .grid-container {
    max-width: 87.5rem;
  }

  .jcc-cards-with-button__container {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;

    ul {
      li {
        margin: 0 1rem 0 0;
      }

      li:last-child {
        margin: 0;
      }
    }

    .jcc-cards-with-button__button {
      width: 100%;
    }
  }

  .jcc-tiles-list__container {
    .jcc-tiles-list {
      .jcc-tiles-list--text-only {
        .jcc-card {
          width: 100%;
        }
      }

      jcc-tiles-list__image {
        width: 33%;
      }
    }
  }

  .jcc-link-list-simple {
    padding-bottom: 4.5rem;
  }

  .page__right_sidebar {
    .jcc-cards-with-button__container {
      &> .jcc-header-group, .jcc-cards-with-button {
        padding: 0;

        .jcc-header-group__title {
          margin-bottom: 0;
        }

        .jcc-cards-with-button__item {
          border: none;
          padding: 0;
        }
      }
    }
  }

  .page__right_sidebar {
    .jcc-cards-with-button--secondary {
      .jcc-cards-with-button__item {
        width: 50%;
        flex: none;
      }
    }
  }
}
