.jcc-page--front {
  .grid-container {
    max-width: 87.5rem;
    padding-top: 1rem;
  }

  .jcc-cards-with-button__container {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;

    ul {
      li {
        @media only screen and (min-width: 640px) {
          margin: 0 1rem 0 0;

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    .jcc-cards-with-button__button {
      width: 100%;
    }
  }

  .jcc-tiles-list__container {
    .jcc-tiles-list {
      margin-top: 0;

      > li:first-child {
        padding-top: 0;
      }
    }
  }

  .page__right_sidebar {
    padding-top: 2rem;

    h3 {
      font-size: 1.3rem !important;
    }

    .jcc-header-group {
      padding: 0;

      .jcc-header-group__title {
        margin-bottom: 0;
        font-size: 1.78rem;
      }
    }

    .jcc-cards-with-button {
      padding: 0;
    }

    .jcc-cards-with-button__container {
      margin-bottom: 2rem;

      .jcc-cards-with-button {
        .jcc-cards-with-button__item {
          border: none;
          padding: 0;

          @media (max-device-width: 800px) and (orientation: portrait) {
            img {
              width: 100%;
            }
          }
        }
      }

      .jcc-cards__highlight + .jcc-cards-with-button {
          margin-bottom: 1rem;
      }
    }

    #jcc-newslinks-header {
      margin-bottom: 0;
    }

    .jcc-newslinks-cards {
      margin-bottom: 4rem;

      .jcc-card {
        margin-bottom: 2rem;

        .jcc-card__brow {
          margin-bottom: .2rem;
          font-family: Lora,Georgia,Cambria,Times New Roman,Times,serif;
          font-size: 1.24rem;
          font-style: italic;
        }

        .jcc-card__title {
          margin-top: 0;
          margin-bottom: .2rem;
          font-family: Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
          font-size: 1.49rem;
          line-height: 1.5;

          a {
            text-decoration: none;
          }

          &:hover {
            color: #009ec1;
            text-decoration: underline;
          }
        }
      }
    }

    .video-embed-field-provider-granicus {
      width: 444px;
      height: 243px;

      embed {
        width: 100%;
        height: 100%;
      }
    }
  }

  @media only screen and (min-width: 640px) {
    .jcc-cards__highlight + .jcc-cards-with-button {
      .jcc-cards-with-button__item {
        width: 49%;
        flex: none;
      }
    }
  }

  .jcc-cards-with-button__button, .jcc-link-list__button {
    text-align: center;
  }
}
