.jcc-page--front {
  .grid-container {
    max-width: 87.5rem;
    padding-top: 1rem;
  }

  .desktop\:grid-col-8 {
    padding-right: 1rem;
  }

  .jcc-cards-with-button__container {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;

    > ul {
      display: block;
      flex-direction: column;
      -ms-flex-direction: column;

      @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: inherit;
        -ms-flex-direction: inherit;
      }
    }

    ul {
      li {
        margin-left: 0 !important;
        margin-right: 0;

        @media only screen and (min-width: 768px) {
          margin-top: 0;

          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }
    }

    .jcc-cards-with-button__button {
      width: 100%;

      a {
        font-size: 1rem;
      }
    }
  }

  .jcc-cards__highlight + .jcc-cards-with-button {
    .jcc-cards-with-button__item {
      width: 100%;
      margin: 0 0 1rem 0 !important;

      @media only screen and (min-width: 768px) {
        width: 49%;
        flex: none;

        &:not(last-child) {
          margin-right: 1rem !important;
        }
      }
    }
  }

  .jcc-cards-with-button__button, .jcc-link-list__button {
    text-align: center;
  }

  .jcc-tiles-list__container {
    .jcc-tiles-list {
      margin-top: 0;

      > li:first-child {
        padding-top: 0;
      }
    }
  }

  .page__right_sidebar {
    padding-top: 2rem;

    h3 {
      font-size: 1.2rem !important;
    }

    .jcc-header-group {
      padding: 0;

      .jcc-header-group__title {
        margin-bottom: 0;
        font-size: 1.6rem;
      }
    }

    .jcc-card__excerpt {
      font-size: 1rem;
    }

    .jcc-cards-with-button {
      padding: 0;
    }

    .jcc-cards-with-button__container {
      margin-bottom: 2rem;

      .jcc-cards-with-button {
        .jcc-cards-with-button__item {
          border: none;
          padding: 0;

          .jcc-card__img {
            height: 144px;
          }

          @media (max-device-width: 800px) and (orientation: portrait) {
            img {
              width: 100%;
            }
          }
        }
      }

      .jcc-cards__highlight + .jcc-cards-with-button {
        margin-bottom: 1rem;
      }
    }

    #jcc-newslinks-header, #jcc-events-header {
      margin-bottom: 0;
    }

    .jcc-newslinks-cards, .jcc-events-cards {
      margin-bottom: 4rem;

      .jcc-card {
        margin-bottom: 2rem;

        .jcc-card__brow {
          margin-bottom: .2rem;
          font-family: Lora,Georgia,Cambria,Times New Roman,Times,serif;
          font-style: italic;
        }

        .jcc-card__title {
          margin-top: 0;
          margin-bottom: .2rem;
          font-family: Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
          line-height: 1.5;

          a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .jcc-multimedia--featured {
      margin-bottom: 4rem;
    }
  }
}
// Todo: NEW-148 Remove media icon from hero icon nav blocks on front page need work on courtyard

.jcc-hero-icon-nav__block .jcc-image--media-icon {
    display: none;
}
