.jcc-mediacontacts {
  padding: 0;

  .grid-row {
    .jcc-media-contacts__column {
      @media only screen and (min-width: 768px) {
        margin-right: 4rem;
      }
    }
  }

  .jcc-card--media-contacts {
    margin-bottom: 2rem;
  }
}
