.jcc-footer-secondary {
  background-color: #eff6fb;

  .jcc-card__title {
    color: #0b4778;
    font-family: Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 1.49rem!important;
    text-transform: none!important;
  }

  .jcc-social-links {
    padding-top: 0rem;

    .jcc-social-links__item {
      svg {
        height: 2rem;
        width: 2rem;

        > * {
          color: #252f3e;
        }

      }
    }
  }
}
