.jcc-footer-secondary {
  background-color: #eff6fb;

  .jcc-card__title {
    color: #0b4778;
    font-family: Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 1.49rem!important;
    text-transform: none!important;
  }

  .jcc-social-links {
    padding-top: 0;
    padding-bottom: 1rem;

    .jcc-social-links__item {
      svg {
        height: 2rem;
        width: 2rem;

        > * {
          color: #252f3e;
        }

      }
    }
  }
}

.jcc-footer-secondary__wideleft {
  .jcc-cards__item {
    &:first-child {
      width: 100%;

      @media only screen and (min-width: 768px) {
        width: 66.66666%;
      }
    }
  }
}
