.jcc-stay-connected {
  background-color: #ffffff;

  .jcc-header-group {
    text-align: center;
    overflow: hidden;

    .jcc-header-group__title {
      font-size: 1.99rem;
      margin-bottom: 0rem;
    }

    @media (min-width: 640px) {
      .jcc-header-group__title:before {
        left: -.5em;
        margin-left: -50%;
        background-color: #00a398;
        content: "";
        height: 3px;
        width: 50%;
        display: inline-block;
        position: relative;
        vertical-align: middle;
      }
      .jcc-header-group__title:after {
        left: .5em;
        margin-right: -50%;
        background-color: #00a398;
        content: "";
        height: 3px;
        width: 50%;
        display: inline-block;
        position: relative;
        vertical-align: middle;
      }
    }

    @media (max-width: 640px) {
      .jcc-header-group__title:after {
        display: none;
      }
    }
  }

  .jcc-card__title {
    color: #0b4778;
    font-family: Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 1.49rem!important;
    text-transform: none!important;
  }

  .jcc-social-links {
    padding-top: 0rem;

    .jcc-social-links__item {
      svg {
        height: 2rem;
        width: 2rem;

        > * {
          color: #252f3e;
        }

      }
    }
  }
}
