{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{{ attach_library("jcc_storybook/Accordion") }}

{%
  set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}

<div{{ attributes.addClass(classes) }}>
  {% include "@molecules/Accordion/Accordion.twig" with {
    variant: 'default',
    open_first: false,
    open_on_load: "",
    expand_button: true,
    heading: 'AWARDS & RECOGNITION',
    lead: "",
    items: items,
  } %}
</div>