{% if results %}
  <table style="width:100%; margin-block-end:1.5rem;">
    <tr>
      <th>SUBJECT</th>
      <th>TITLE</th>
    </tr>
    {% for course in results %}
      <tr>
        <td>{{ course.subject }}</td>
        <td>{{ course.title }}</td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No toolkits found or you might not have permission to view.</p>
{% endif %}
