{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{{ attach_library("jcc_storybook/Tabs") }}
{{ attach_library("jcc_storybook/ViewResults") }}
{{ attach_library("jcc_storybook/ResultExcerpt") }}
{% block styles %}{% endblock %}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{% set items = [] %}
{% for key, value in opinions %}
  {% set year = key %}
  {% set tab_content %}
    <div class="view-results__results">
      <div class="stack content">
        <ul>
          {% for opinion in value %}
            <li>
              {% set content %}
                {% if opinion.citings %}
                  <p>Web Page Citings:</p>
                  {% include "@molecules/List/List.twig" with {
                    variant: 'ul',
                    items: opinion.citings|raw,
                  } %}
                {% endif %}
              {% endset %}

              {% include "@molecules/ResultExcerpt/ResultExcerpt.twig" with {
                brow: {
                  primary: opinion.case_number,
                  secondary: opinion.posted,
                  notation: opinion.source,
                },
                title: opinion.title.text,
                content: content,
                url: opinion.title.url,
              } %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endset %}

  {% set item = {
    label: year,
    content: tab_content,
  } %}

  {% set items = items|merge([item]) %}
{% endfor %}

{% set tabs %}
  {% include "@molecules/Tabs/Tabs.twig" with {
    open_on_load: open_on_load,
    items: items,
  } %}
{% endset %}

{% block page_header %}{% endblock %}

{% include "@organisms/Section/Section.twig" with {
  variant: 'default',
  sub_component_data: tabs,
  inner_box_class: true,
} %}

