.paragraph {
  .jcc-block--content, .usa-accordion {
    max-width: 84rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  .jcc-hero-icon-nav {
    .jcc-hero-icon-nav__nav {
      .jcc-hero-icon-nav__block {
        .jcc-tile {
          margin-bottom: 1rem !important;
        }
      }
    }
  }
}
