.paragraph {
  .jcc-block--content, .usa-accordion {
    max-width: 84rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  &.layouts {
    max-width: 84rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    .layout__region {
      &--first {
        margin-top: 2rem;
        padding-right: 1rem;

        .content {
          padding-right: 2rem;
        }
      }
      &--second {
        margin-top: 2rem;
      }
    }
  }
}
