.error-page {
  .jcc-header-group__title {
    margin: 2rem;
    font-size: 8rem;
  }
  .jcc-header-group__body {
    margin: 2rem;
    font-size: 2rem;
  }

  .featured-links {
    margin: 2rem;
    font-size: 1.3rem;
  }
}
