.views-exposed-form {
  .jcc-callout__content {
    height: 80px;
    max-height: 160px;
  }
}

.views--exposed-filters {
  .usa-checkbox__input {
    position: relative !important;
    left: 0rem !important;
    }

  .usa-label {
    display: inline !important;
    margin-left: auto;
    margin-right: 1.5rem;
  }

  .jcc-form-group__title {
    font-family: Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 1.12rem;
    color: #29a197;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
  }
}

.region--exposed-filters {
  > div > div:first-child {
    width: 100%;
    margin-bottom: 1em;

    .form-text {
      font-size: 1.6em;
      height: 3.5rem;
    }

    .form-actions {
      display: none;
    }
  }
  > div > div:nth-child(2) {
    width: 100%;

    h2 {
      display: none;
    }

    ul {
      padding-left: 0;
      list-style: none;

    }
  }
}
