.page__footer {
  text-align: center;
  color: $theme-color-base-lightest;
  padding: 2rem;

  *, a, a:visited {
    color: $theme-color-base-lightest;
    text-decoration: none;
  }

  .footer {

    &__site-name {
      margin-bottom: 1rem;
    }

    &__social-links {
      font-size: 2rem;
      display: flex;
      justify-content: center;

      > * {
        margin: 0 1rem;
      }

      svg.ext {
        display: none;
      }
    }

    .menu--footer {

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: center;

        li {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
