$icon-supremecourt: "/libraries/courtyard-artifact/1.x/public/images/logos/supreme-logo.svg";

.lightbox, .albums {
  max-width: 84rem !important;
  margin-bottom: 2rem;

  .lightbox__header {
    margin: 2rem 0 1rem;
    border-bottom: 1px solid #dbdbdb;

    h2 {
      font-family: Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
      font-size: 1.8rem;
    }

    p {
      margin-top: .3rem;
      margin-left: 1rem;
    }
  }

  .lightbox__card, .album__card {
    margin: 0 1rem 1rem 0;
  }

  .lightbox__card {
    &.video {
      .jcc-card__title {
        height: 3rem;
        line-height: normal;
      }
    }
  }

  .jcc-card {
    height: 100%;
    padding: .5rem .5rem 1rem;
    border: 1px solid #dbdbdb;
    box-shadow: 3px 3px 6px #ddd;

    .jcc-card__title, .jcc-card__excerpt, .jcc-card__footer {
      padding: 0 .2rem;
    }

    .jcc-card__title {
      font-family: Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
      font-size: 1.3rem;
    }

    .jcc-card__img  {
      height: 180px;
    }
  }
}

.albums {
  margin-top: 2rem;

  .album__card {
    .jcc-card {
      padding: 0 0 1rem;

      .jcc-card__title {
        padding: 0 .6rem;

        a {
          text-decoration: none;
        }
      }

      .jcc-card__excerpt-media  {
        background-color: $jcc-primary-blue-vivid-dark;

        img {
          border-radius: .5rem .5rem 0 0;
        }
      }

      .jcc-card__excerpt {
        padding: 0 .6rem;
      }
    }
  }
}

.jcc-video--granicus {
  display: block;
  position: relative;
  height: 220px;
  background-color: #333;
  background-image: url("/libraries/courtyard-artifact/1.x/public/images/logos/jcc-logo.svg");
  background-size: 48%;
  background-repeat: no-repeat;
  background-position: 50% 15%;
  text-align: center;
  cursor: pointer;

  &.supreme_court {
    background-image: url($icon-supremecourt);
  }

  &.supremecourt {
    background-image: url($icon-supremecourt);
  }
}

.jcc-block--webcast {
  .jcc-video--granicus {
    height: 250px;
    background-position: 50% 28%;
  }
}
