/* header menus mobile variant adjustment */
.mobile {
  .show-button, .slicknav_nav {
    top: 54px !important;
  }
}

/* adjusting spacing for template use of hero */
article > .jcc-hero {
  .jcc-hero__content {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

/* full width for basic page and book heroes */
.page--full, .book--full {
  .jcc-hero__column-left {
    max-width: 100%;
  }
}

/* adjust secondary aside for trial courts */
.jcc-text-section-aside__aside {
  .jcc-card__title {
    margin-bottom: 0;
  }
}

/* adjusting spacing for secondary aside main column */
.jcc-text-section-aside__aside-main {
  padding-right: 2rem !important;

  .body {
    margin-top: 2em;
  }
}

/* reducing spacing for secondary footer */
main + .jcc-list-section, .jcc-book-container + .jcc-list-section {
  padding-top: 0;
  padding-bottom: 0;

  nav {
    .jcc-menu {
      margin-top: 0;
      padding-top: 3.5em;
      padding-bottom: 1.5em;
    }
  }
}

div[class^='jcc-'] .body p, .date, .location, .relevance, .geolocation-map-wrapper {
  margin-bottom: 1.25em;
}

.publish_date {
  margin-bottom: 1.5em;

  div {
    display: inline;
  }
}

.attachments {
  margin-top: 1.5em;
}

.address {
  margin-bottom: 1.5em;
}

.tags.relevance {
  margin-top: 0;
}

/* display metadata listings inline */
.relevance {
  div {
    div:not(:first-child) {
      div {
        display: inline;
      }
    }
  }
}

/* display contacts listing inline */
.contacts {
  div {
    display: inline;
  }
}

/* Colorbox image gallery context fix (x of total) */
#cboxCurrent {
  left: 130px;
  bottom: -4px;
}

.jcc-social-share {
  .social-sharing-buttons {
    justify-content: left;
    margin: 0;
  }
}

/* User page form */
.user-form-subscriber {
  #edit-myemma-groups--wrapper {
    margin-top: 1em;
    legend {
      margin-bottom: 0;
    }
    .form-type-checkbox {
      padding-left: 25px;
      position: relative;
      label{
        margin-top: 1.2rem;
      }
      .usa-checkbox__input {
        left: 0;
      }
    }
  }
}
