/* header menus mobile variant adjustment */
.mobile {
  .show-button, .slicknav_nav {
    top: 54px !important;
  }
}

/* adjusting spacing for template use of hero */
article > .jcc-hero {
  .jcc-hero__content {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

/* full width for basic page and book heroes */
.page--full, .book--full {
  .jcc-hero__column-left {
    max-width: 100%;
  }
}

/* adjust secondary aside for trial courts */
.jcc-text-section-aside__aside {
  .jcc-card__title {
    margin-bottom: 0;
  }
}

/* adjusting spacing for secondary aside main column */
.jcc-text-section-aside__aside-main {
  padding-right: 2rem !important;

  .body {
    margin-top: 2em;
  }
}

/* reducing spacing for secondary footer */
main + .jcc-list-section, .jcc-book-container + .jcc-list-section {
  padding-top: 0;
  padding-bottom: 0;

  nav {
    .jcc-menu {
      margin-top: 0;
      padding-top: 3.5em;
      padding-bottom: 1.5em;
    }
  }
}

div[class^='jcc-'] .body > p, .date, .location, .relevance, .geolocation-map-wrapper {
  margin-bottom: 1.25em;
}

.publish_date {
  margin-bottom: 1.5em;

  div {
    display: inline;
  }
}

.attachments {
  margin-top: 1.5em;
}

.address, .web-address {
  margin-bottom: 1.5em;
}

.tags.relevance {
  margin-top: 0;
}

/* display metadata listings inline */
.relevance {
  div {
    div:not(:first-child) {
      div {
        display: inline;
      }
    }
  }
}

/* display contacts listing inline */
.contacts {
  div {
    display: inline;
  }
}

/* BEGIN Colorbox fixes */
/* image gallery context fix (x of total) */
#cboxCurrent {
  left: 130px;
  bottom: -4px;
}

/* caption presentation */
#cboxTitle:not(:empty) {
  width: 96%;
  bottom: 20px;
  padding: 1rem;
  background-color: rgba(0,0,0,0.5);
}

/* ensure scrollbars do not appear */
#cboxLoadedContent {
  overflow: hidden !important;
}
/* END */

.jcc-social-share {
  .social-sharing-buttons {
    justify-content: left;
    margin: 0;
  }
}

.node {
  .align-left .embedded-entity, .align-left.embedded-entity, img[align="left"] {
    margin-right: 1rem;
  }

  .align-right .embedded-entity, .align-right.embedded-entity, img[align="right"] {
    margin-left: 1rem;
  }

  .align-center .embedded-entity, .align-center.embedded-entity, img[align="center"] {
    text-align: center;
  }
}

.jcc-gallery-sidebar {
  .jcc-gallery-sidebar__card {
    .jcc-gallery-sidebar__card-inner {
      margin-bottom: .5rem;
      margin-right: .5rem;
      padding: .4rem .4rem 0;
      background-color: #fff;
      border: 1px solid #d2d2d2;

      img {
        width: 100%;
      }
    }
  }
}

/* User page form */
.user-form-subscriber {
  #edit-myemma-groups--wrapper {
    margin-top: 1em;
    legend {
      margin-bottom: 0;
    }
    .form-type-checkbox {
      padding-left: 25px;
      position: relative;
      label{
        margin-top: 1.2rem;
      }
      .usa-checkbox__input {
        left: 0;
      }
    }
  }
}

/* Improvements for tables used in content */
.body {
  table {
    th, td {
      padding: .5rem 1rem;
    }
  }
}
