.division, .subject_matter, .tags {
  margin-bottom: 16px;

  div {
    div:not(:first-child) {
      div {
        display: inline;
      }
      div:not(:last-child):after {
        content: ", ";
      }
    }
  }
}
