.path-search {
  .page__title {
    background-color: #ffffff;
  }
  .region--search-facets {
    > div > div:first-child {
      width: 100%;
      margin-bottom: 1em;

      .form-text {
        font-size: 1.6em;
        height: 3.5rem;
      }

      .form-actions {
        display: none;
      }
    }
    > div > div:nth-child(2) {
      width: 100%;

      h2 {
        display: none;
      }

      ul {
        padding-left: 0;
        list-style: none;

        .facet-summary-item--facet {
          display: none;
        }

        .source-summary-count {
          font-family: Lora, Georgia, Cambria, Times New Roman, Times, serif;
          font-size: 1.64rem;
          font-weight: 400;
          border-bottom: 1px solid #ccc;
          padding-bottom: 3px;
        }
      }
    }
  }
  .block-facet--checkbox {
    h3 {
      font-family: Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
      font-size: 1.12rem;
      color: #008480;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
    }
    ul {
      list-style: none;
      padding-left: 15px;
      margin-bottom: 0px;
    }
    .facet-item {
      padding: 3px 1px;
      label {
        font-size: 0.9em;
        letter-spacing: 0.5px;
        padding-left: 5px;
      }
    }
    .facets-soft-limit-link {
      margin-left: 15px;
      font-size: .85em;
    }
  }
  .autocomplete-suggestion-label {
    font-weight: bold;
    color: #0d7ea2;
    font-family: Lora,Georgia,Cambria,Times New Roman,Times,serif;

    &:hover {
      color: #ffffff;
    }
  }

  main .view__content {
    .views-row:nth-child(odd) {
      background-color: #eff6fb;
    }
  }

  #edit-keywords {
    border-width: 0;
    border-style: solid;
    background-color: #f2f6fb;
    height: 4.5rem;
  }
}
