.jcc-page--search {
  .grid-container {
    max-width: 87.5rem;
    padding-top: 1rem;
  }

  .page__right_sidebar {
    padding: 2rem;

    .views-exposed-form .jcc-callout__content{
      height: auto;
      max-height: none;
      .views--exposed-filters {
        padding: 0;
      }
    }
    .block:not(.views-exposed-form) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    h3 {
      font-size: 1.3rem !important;
    }
  }

  .page__content {
    .views-element-container {
      padding-top: 2em;
    }
  }
  .node.news {
    .jcc-tiles-list__image {
      img {
        height: auto;
      }
    }
    .search-news-links{
      margin-top: .8em;
      div {
        display: inline-block;
      }
      & > div div{
        &:after {
          content: ',';
          display: inline-block;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }

}
