{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
<div{{ attributes.addClass(classes) }}>
  {{ content.field_rule_index_section_label }}
  <ul class="list__container">
    {{ content.field_rule_index_section_content }}
  </ul>
  {{ content|without('field_rule_index_section_label', 'field_rule_index_section_content') }}
</div>
