{{ attach_library("jcc_storybook/List") }}
<li class="list__item paragraph--type--rule-section--default">
  {{ content.field_rule_index_section_label }}
  {% if content.regions %}
    <ul class="list__container">
      {{ content|without('field_rule_index_section_label') }}
    </ul>
  {% endif %}
</li>
