.jcc-details-modal-content {
  max-height: 70vh;
  overflow-y: auto;
  white-space: normal;
  word-break: break-word;
}

.jcc-details-modal-content .field--name-field-pdf-audit-summary {
  padding: 30px 0;
}
