.news > .jcc-tiles-list__container,
.news > .jcc-tiles-list__container > .jcc-tiles-list > .jcc-tiles-list__tile {
  padding-top: 0 !important;
  padding-bottom: 1.5rem !important;
}

.created {
  width: 200px;
}

.teaser-text {
  margin-top: 1.2em;
}

.tags {
  margin-top: 1.2rem;

  .usa-tag {
    padding: .2rem .5rem;
    background-color: #005ea2;

    a {
      color: $theme-color-base-lightest;
      text-decoration: none;
    }
  }
}
