$inactive-bg: #f2f6fb;
$active-bg: #e4ebf4;
$border-color: 1px solid #fff;

// Side navigation component adjustments
.jcc-book-container {
  padding-bottom: 2rem;

  .usa-layout-docs__sidenav {
    margin-top: 2em !important;
    padding: 0 !important;
    background-color: $inactive-bg;

    .block {
      a {
        color: inherit !important;
      }

      .jcc-sidenav__item-home {
        border-bottom: none !important;

        a {
          padding-top: 1em;
          border-top: none;
        }
      }

      nav > .usa-sidenav {
        border-bottom: $border-color;

        .usa-sidenav__item {
          border-top: $border-color;
        }
      }

      .jcc-current__container, .jcc-current__container:hover {
        background-color: $active-bg;
      }

      .usa-current, a:hover, .icon {
        background-color: transparent;
        color: $jcc-primary-blue !important;
      }

      .usa-current::after {
        background-color: transparent;
      }
    }
  }
}
