.case-search-field-modal {
  display: block !important;
  position: absolute;
  top: 2.5rem;
  width: 100%;
  max-width: 50ch !important;
  background-color: #faf3d1 !important;
  padding: 1rem;
  color: #000;
}

.case-search__listing {
  display: none;
  margin-top: 0.5rem;
}

.search__message--item {
  margin-top: 1.5rem;
  background-color: #f9f9f9;
  border: 1px solid #e9e9e9;
  border-radius: 0.3rem;
  color: #838383;
}

.search__message--item p {
  margin-top: 0;
  padding: 1rem 1.5rem;
}

.search__message--item p:not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
}

.search__message--item a {
  text-decoration: none;
}

.search__message--item a:hover {
  text-decoration: underline;
}

#query-case-number {
  max-width: 88ex;
}

/* BEGIN Adjust error message if Pro theme */
#query-case-number .usa-alert__wrapper--error {
  display: none;
}

#query-case-number .usa-alert--error {
  background-color: #f4e3db;
  border-color: #d54309;
}

#query-case-number .usa-alert__heading {
  float: none;
  font-weight: bold;
}
/* END */

.query-case-number__input {
  display: inline-block !important;
  margin-bottom: 0.5rem;
}

.lookup-case__trigger {
  display: inline !important;
  position: relative !important;
  top: unset !important;
  right: unset !important;
  width: auto !important;
  min-width: auto !important;
  box-shadow: none !important;
  cursor: pointer;
}

.lookup-case__trigger:after {
  content: '' !important;
}

.lookup-case__trigger:hover, .lookup-case__trigger:focus {
  background-color: transparent !important;
}

