.case-search-field-modal {
  display: block !important;
  position: absolute;
  top: 2.5rem;
  width: 100%;
  background-color: #faf3d1;
  padding: 1rem;
  color: #000;
}

.case-search-field-modal a {
  color: #2378c3 !important;
}

.case-search__listing {
  display: none;
  margin-top: 0.5rem;
}

.search__message--item {
  margin-top: 1.5rem;
  background-color: #f9f9f9;
  border: 1px solid #e9e9e9;
  border-radius: 0.3rem;
  color: #838383;
}

.search__message--item p {
  padding: 1rem 1.5rem;
}

.search__message--item p:not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
}

.search__message--item a {
  text-decoration: none;
}

.search__message--item a:hover {
  text-decoration: underline;
}

#query-case-number {
  max-width: 88ex;
}

/* BEGIN Adjust error message if Pro theme */
#query-case-number .usa-alert__wrapper--error {
  display: none;
}

#query-case-number .usa-alert--error {
  background-color: #f4e3db;
  border-color: #d54309;
}

#query-case-number .usa-alert__heading {
  float: none;
  font-weight: bold;
}
/* END */

.query-case-number__input {
  display: inline-block !important;
  margin-bottom: 0.5rem;
}

