.docket-search-bynumber {
  display: block !important;
  position: absolute;
  top: 2.5rem;
  width: 100%;
  background-color: #faf3d1;
  padding: 1rem;
  color: #000;
}

.docket-search-bynumber a {
  color: #2378c3 !important;
}
