{#
/**
 * @file
 * Theme override for the 'Branding' block.
 */
#}
{% if site_logo %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="jcc-header__logo">
    {% include "@atoms/icons/logo.twig" with {
      logo: {
        src: site_logo,
        alt: 'Logo'|t,
        renderer: 'patternlab',
      }
    } %}
  </a>
{% endif %}
