.layout-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.layout-select__item {
  flex: 0 1 150px;
  margin-right: 10px;
}
.layout-select__item label.option {
  display: flex;
  padding: 10px;
  outline: 1px solid #ccc;
}
.layout-select__item input:checked + label.option {
  outline: 2px solid blue;
  transition: .1s all;
  font-weight: bold;
}
.layout-select__item-icon {
  margin-right: 10px;
}
.layout-select .layout-select__item-icon svg {
  display: block;
}
