.view-id-group_management,
.view-id-user_groups_management,
.view-id-messaging_dashboard{
  padding-bottom: 40px;
}

.view-global-subscription-management .view-group-management-wrapper {
  padding-top: 0;
  .views--exposed-filters {
    .usa-checkbox__input {
      display:none;
    }
    .usa-label{
      padding-left: 0;
    }
    .form-item-mail {
      padding-bottom: 20px;
      .usa-label{
        font-family: Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
        font-size: 1.12rem;
        color: $jcc-accent-warm-green;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
      }
    }
  }
  .views-exposed-form .jcc-callout__content{
    max-height: none;
    height: auto
  }
}
