.view-id-events.view-display-id-page_2{
  .view-id-events.view-display-id-page_1{
    padding-top:2rem;
    .jcc-header-group,
    .jcc-tiles-list {
      padding: 0;
    }
    .region--exposed-filters{
      padding: 0 !important;
      .usa-legend.jcc-form-group__title {
        display:none;
      }
    }
    h3.jcc-card__title {
      padding-top: 0;
      padding-bottom: 0;

      &:after,
      &:before {
        display: none;
      }
    }
    .jcc-tiles-list__container{
      padding-top:0;
      .jcc-tiles-list__tile {
        padding-top:0;
      }
      .jcc-header-group {
        display:none;
      }
    }
  }
  .jcc-text-section-aside__aside{
    .views-row {
      border-bottom-color: #c9c9c9;
      border-bottom-style: solid;
      border-width: 2px;
      margin-bottom: .5rem;
      padding-bottom: .5rem;
      .field-content.jcc-brow{
        font-family: Lora,Georgia,Cambria,Times New Roman,Times,serif;
        font-size: .93rem;
        font-style: italic;
        margin-bottom: .75rem;
      }
      .field-content.jcc-news-read-more{
        display:none;
      }
      .field-content.jcc-sidebar-news-title a{
        text-decoration: none;
        font-size: 1.24rem;
      }
    }
  }
}

.js-drupal-fullcalendar {
  .fc-button-primary {
    background-color: #1a4480;
    border-color: #1a4480;
    border-radius: 0;
  }

  .fc-button-primary:not(:disabled).fc-button-active, .fc-button-primary:not(:disabled):active {
    background-color: #162e51;
    border-color: #162e51;
  }

  .fc-button-primary:disabled {
    background-color: #71767a;
    border-color: #71767a;
  }

  td.fc-today {
    background-color: #eff6fb;
  }

  .fc-event {
    border-radius: 0;
  }
}
.view-event-type-legend {
  padding-bottom: 2rem;
  .views-row {
    display:inline-block;
    .legend-item {
      display: inline-block;
      padding-right: 25px;
      font-size: .93rem;
      .legend-square {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 5px;
        &.id-136 {
          background-color: #ffbc78;
        }

        &.id-132 {
          background-color: #d9e8f6;
        }

        &.id-138 {
          background-color: #f0f0f0;
        }

        &.id-133 {
          background-color: #f2938c;
        }
      }

      label {
        display: inline-block;
        vetical-align: top;
      }
    }
  }
}
.calendar-legend {
  padding-bottom: 2rem;
  .legend-item{
    display:inline-block;
    padding-right: 25px;
    .legend-square {
      width: 20px;
      height: 20px;
      display:inline-block;
      vertical-align: bottom;
      margin-right: 5px;
      &.arraignment{background-color: #ffbc78;}
      &.civil-trial{background-color: #97d4ea;}
      &.hearing{background-color: #f2938c;}
      &.holiday{background-color: #d9e8f6;}
      &.motion{background-color: #dfe1e2;}
      &.sentencing{background-color: #f2e4d4;}
      &.workshop{background-color: #f0f0f0;}
    }
    label {
      display:inline-block;
      vetical-align: top;
    }
  }
}
