.view-id-events.view-display-id-page_2{
  .view-id-events.view-display-id-page_1{
    .jcc-header-group,
    .jcc-tiles-list {
      padding: 0;
    }
    .region--exposed-filters{
      padding-left:0;
      padding-right:0;
    }
    h3.jcc-card__title {
      padding-top:0;
      padding-bottom:0;
      &:after,
      &:before{
        display:none;
      }
    }
  }
}

.js-drupal-fullcalendar {
  .fc-button-primary {
    background-color: #1a4480;
    border-color: #1a4480;
    border-radius: 0;
  }

  .fc-button-primary:not(:disabled).fc-button-active, .fc-button-primary:not(:disabled):active {
    background-color: #162e51;
    border-color: #162e51;
  }

  .fc-button-primary:disabled {
    background-color: #71767a;
    border-color: #71767a;
  }

  td.fc-today {
    background-color: #eff6fb;
  }

  .fc-event {
    border-radius: 0;
  }
}
.calendar-legend {
  padding-bottom: 2rem;
  .legend-item{
    display:inline-block;
    padding-right: 25px;
    .legend-square {
      width: 20px;
      height: 20px;
      display:inline-block;
      vertical-align: bottom;
      margin-right: 5px;
      &.arraignment{background-color: #ffbc78;}
      &.civil-trial{background-color: #97d4ea;}
      &.hearing{background-color: #f2938c;}
      &.holiday{background-color: #d9e8f6;}
      &.motion{background-color: #dfe1e2;}
      &.sentencing{background-color: #f2e4d4;}
      &.workshop{background-color: #f0f0f0;}
    }
    label {
      display:inline-block;
      vetical-align: top;
    }
  }
}
