.view-local-forms {
  .views-exposed-form {
    .js-form-item{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 25%;
      @media screen and (max-width: 1024px) {
        width: 50%;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    .button.form-submit{
      margin-top: 3rem;
    }
  }
  .view__content {
    .views-row:nth-child(odd){
      background-color: #e1f3f8;
    }
  }
}
