.view-local-forms {
  .views-exposed-form {
    .form-checkboxes > .form-checkboxes{
      column-count: 2;
      column-gap: 1rem;
      @media screen and (max-width: 1024px) {
        column-count: 1;
        column-gap: 0;
      }
    }
    #edit-field-division-target-id--wrapper,
    #edit-field-document-type-target-id--wrapper {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 40%;
      @media screen and (max-width: 1024px) {
        width: 50%;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      input.usa-checkbox__input{
        left:0;
        position:relative;
        float:left;
        margin-top: 3px
      }
      label.form-check-label{
        margin-top:1rem;
        padding-left:20px;
      }
      .fieldset-legend {
        font-family: Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
        font-size: 1.12rem;
        color: #29a197;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
      }
    }
    .js-form-item-title {
      width: 100%;
      margin-bottom: 3rem;
      label{
        display: none;
      }
    }
    #edit-actions {
      width: 20% !important;
      .button.form-submit{
        margin-top: 3rem;
      }
    }
  }
  .view__content {
    column-count: 2;
    column-gap: 3rem;
    @media screen and (max-width: 1024px) {
      column-count: 1;
      column-gap: 0;
    }
    h3{
      margin-top: 1.5rem;
    }
    .views-row{
      padding: 5px;
      &:nth-child(odd) {
        background-color: #eff6fb;
      }
    }
  }
}
