.news > .jcc-tiles-list__container,
.news > .jcc-tiles-list__container > .jcc-tiles-list > .jcc-tiles-list__tile {
  padding-top: 0 !important;
}

.created {
  margin-top: -10px;
  width: 200px;
}

.teaser-text {
  margin-top: 10px;
}

.tags {
    margin-top: 10px;
}
