.news > .jcc-tiles-list__container,
.news > .jcc-tiles-list__container > .jcc-tiles-list > .jcc-tiles-list__tile {
  padding-top: 0 !important;
  padding-bottom: 1.5rem !important;
}

.created {
  width: 200px;
}

.teaser-text {
  margin-top: 1.2em;
}

.tags {
  margin-top: 1.2rem;

  .usa-tag {
    padding: .2rem .5rem;
    background-color: #005ea2;

    a {
      color: $theme-color-base-lightest;
      text-decoration: none;
    }
  }
}

.jcc-tags {
  margin-top: .8em;

  div {
    display: inline;
  }

  a {
    color: #fff !important;
    text-decoration: none;

    font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: .93rem;
    text-transform: uppercase;
    background-color: #005ea2;
    border-radius: 2px;
    margin-right: .25rem;
    padding: 1px .5rem;

    &:only-of-type {
      margin-right: 0;
    }
  }
}

.view-news-newsroom-only- {
  //Featured news
  .view__header .jcc-tiles-list__tile {
    background: #eff6fb;
  }
}
