.news > .jcc-tiles-list__container,
.news > .jcc-tiles-list__container > .jcc-tiles-list > .jcc-tiles-list__tile {
  padding-top: 0 !important;
}

.date_tags {
  margin-top: 10px;

  .created {
    float: left;
    width: 200px;
  }

  .tags {
    float: right;
    width: 400px;
  }
}
