.jrn-directory-block {
  .placeholder-container.js-form-type-textfield:focus-within {
    border: 1px solid #C05600;
  }

  .placeholder-container label {
    margin-bottom: 0.25rem;
    display: none;
  }

  .cluster input, .cluster .form-text {
    width: 350px !important;
  }

  .button.button--secondary {
    min-width: 200px !important;
  }

  .switcher > * {
    flex-basis: unset !important;
  }

  .frame {
    aspect-ratio: unset !important;
  }

  .card__media {
    background-color: white !important;
  }

  .stack {
    padding: 2rem !important;
  }

  .card--bordered-center .card > div,
  .card--bordered .card > div,
  .card.card--bordered-center > div,
  .card.card--bordered > div {
    border: none !important;
  }

  .dir-image {
    inline-size: unset;
    height: 250px;
    margin-top: 6rem;
  }
}
