.imagebg {
  color: #fff;
  width: 100%;
  position: relative;
  background-color: #01223e;
  z-index: -1;
  padding: 5em 0;
  object-fit: cover;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.3;
    z-index: -1;
    object-fit: cover;
    height: 100%;
  }
}
.parallax {
  background: fixed;
}
