.view-global-subscription-management{
  .views-exposed-form {
    .jcc-callout__content {
      height: auto;
      max-height: none;
    }
  }
}

.view-group-management-wrapper {
  display:flex;
  .view-group-management-filters{
    flex-basis: 30%;
    .views--exposed-filters{
      .js-form-item {
        margin-bottom: 30px;
        .form-type-checkbox {
          input {
            position: absolute !important;
            left: -999em !important;
          }
        }
        .usa-label{
          display: inline-block !important;
          margin-left: 0;
        }
        &.form-item-mail {
          label {
            font-family: Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
            font-size: 1.12rem;
            color: #0f6460;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .view-group-management-content{
    flex-basis: 70%;
    .view__content > table{
      width: 100%;
    }
  }
}
