/* Ensure USWDS buttons appear correctly */
.usa-button, .usa-button:visited {
  color: #fff !important;
  text-decoration: none !important;
}

.download {
  .links {
    list-style: none;
    padding-left: 0;
  }
}
