/****** LAYOUT ******/

@mixin max_page_width($width) {
  @if $width {
    max-width: #{$width}rem;
  } else {
    max-width: $max_page_width_default;
  }
}


/****** FONTS & TYPOGRAPHY ******/

 @mixin font_style($scale, $weight) {
  @if $scale == 0 {
    font-size: $font_size_sm;
  }
  @else if $scale == 1 {
    font-size: $font_size_md;
  }
  @else {
    font-size: $font_size_sm;
  }

  @if $weight == thin {
    font-weight: $font_weight_thn;
  }
  @else if $weight == light {
    font-weight: $font_weight_lgt;
  }
  @else if $weight == normal {
    font-weight: $font_weight_reg;
  }
  @else if $weight == medium {
    font-weight: $font_weight_med;
  }
  @else if $weight == semibold {
    font-weight: $font_weight_sbd;
  }
  @else if $weight == bold {
    font-weight: $font_weight_bld;
  }
  @else if $weight == heavy {
    font-weight: $font_weight_hvy;
  }
  @else {
    font-weight: $font_weight_reg;
  }
}


/****** ICONS & IMAGES ******/
@mixin alert_img($type) {
  $url: '/libraries/courtyard-artifact/public/img/alerts/#{$type}.svg';
  background-image: url($url), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: url($url), linear-gradient(transparent, transparent);
}
