/****** LAYOUT ******/

$max_page_width_default: 87rem;


/****** FONTS & TYPOGRAPHY ******/

$font_size_sm: 1.06rem;
$font_size_md: 1.19rem;
$font_weight_thn: 200;
$font_weight_lgt: 300;
$font_weight_reg: 400;
$font_weight_med: 500;
$font_weight_sbd: 600;
$font_weight_bld: 700;
$font_weight_hvy: 800;
