.teaser {
  font-size: 1.5rem;
}

.field-label--bold {
  div {
    div:first-child {
      font-weight: bold;
    }
  }
}

.document_type {
  div {
    div:not(:last-child):after {
      content: ", ";
    }
  }
}

.address {
  .organization {
    font-size: 1.125rem;
  }
}

.relevance {
  div {
    div:not(:first-child) {
      div:not(:last-child):after {
        content: ", ";
      }
    }
  }
}

.contacts {
  div {
    div:not(:last-child):after {
      content: ", ";
    }
  }
}

/* caption presentation */
#cboxTitle:not(:empty) {
  color: #fff;
  text-align: left;
}
/* END */

.jcc-contacts {
  .jcc-contacts__card {
    .jcc-card {
      h3 {
        font-family: Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
        font-size: 1.2rem;
      }
    }
  }
}

.jcc-person-details {
  .name {
    font-weight: 600;
  }
}

.jcc-line-title {
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
  &:before,
  &:after{
    background-color: #00a398;
    content: "";
    height: 3px;
  }
  &:after{
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    left: .5em;
    margin-right: -50%;
  }
}

.text-word-wrap-break {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
