// Styles enhancements to the glossify items.
// ------------------------------

.jcc-tooltip{
  color: #555555;
  text-transform: none;
}

body.no-glossify {
  .jcc-tooltip {
    background-color: transparent !important;
    span{
      display:none !important;
    }
  }
  .jcc-hero--has-background-color--dark {
    .jcc-tooltip{
      color: #ffffff;
    }
  }
}
