.jcc-courtyard-icons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.25rem;
}

.jcc-courtyard-icons > * {
  margin: 0.25rem;
  display: flex;
  align-items: center;
}

.jcc-courtyard-icons > h5 {
  flex-basis: 100%;
}

.jcc-courtyard-icons__button {
  border: 2px solid #666;
  border-radius: 10px;
  width: 2.5rem;
  height: 2.5rem;
}

.jcc-courtyard-icons__button > svg {
  height: 100%;
  width: 100%;
}

.jcc-courtyard-icons__button.selected  {
  border-color: #328ce0;
  box-shadow: 0 0 10px #3275e0;
}
