.jcc-courtyard-icons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

.jcc-courtyard-icons > * {
  margin: 0.5rem;
  display: flex;
  align-items: center;
}

.jcc-courtyard-icons__button {
  border: 2px solid #666;
  border-radius: 10px;
}

.jcc-courtyard-icons__button.selected  {
  border-color: #328ce0;
  box-shadow: 0 0 10px #3275e0;
}
