.jcc-courtyard-icons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

.jcc-courtyard-icons > * {
  margin: 0.5rem;
  display: flex;
  align-items: center;
}

.jcc-courtyard-icons__button.selected  {
  border: 4px solid #04c585;
}
