.paragraph {
  .jcc-card-section--newsroom {
    .jcc-card {
      .usa-card__heading {
        font-family: "lato", sans-serif;
        font-size: 1.375rem;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
.jcc-switchboard__tile {
  .jcc-tile__body {
    img {
      min-height: 281px;
    }
  }
}
