
{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 */
#}
<article{{ attributes }}>
  {{ title_suffix.contextual_links }}
  <figure class="overlay-container">
    <div class="image-wrapper">
      {{ content }}
    </div>
    {% if content['#caption'] %}
      <figcaption class="overlay-caption">{{ content['#caption'] }}</figcaption>
    {% else %}
      <figcaption class="overlay-caption">The test media caption</figcaption>
    {% endif %}
  </figure>
</article>

