{#
/**
 * @file
 * Custom theme override for media entities.
 *
 * This template extends the core `media.html.twig` file and adds
 * special processing for the media caption field.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - title_suffix.contextual_links: Render array for contextual links.
 * - content: The rendered fields of the media entity.
 */
#}

<article{{ attributes }}>
  {{ title_suffix.contextual_links }}

  {% if content %}
    <div class="media-content">
      {{ content }}

      {# Display caption if available, otherwise show a default message #}
      {% if content.field_media_caption %}
        <figcaption class="overlay-caption-customized">
          {{ content.field_media_caption }}
        </figcaption>
      {% else %}
        <figcaption class="overlay-caption-customized">
          Honorable Elizabeth K. Lee Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </figcaption>
      {% endif %}
    </div>
  {% endif %}
</article>
