.fc .fc-day-grid-event {
  background-color: rgba(0, 0, 0, 0.85) !important;
  border-color: rgba(0, 0, 0, 0.85) !important;
}

.fc .fc-day-grid-event .fc-content,
.fc .fc-day-grid-event .fc-time,
.fc .fc-day-grid-event .fc-title {
  color: #fff !important;
}
