{% extends 'themes/custom/jcc_components/templates/node/node--news.html.twig' %}

{% block layout %}
  {% include "@molecules/hero/hero.twig" with {
    hero: {
      layout: 'full-main',
      background: node.field_promotional_image.0.entity.uri.value ? file_url(node.field_promotional_image.0.entity.uri.value) : 'default',
      main: {
        trail: breadcrumb,
        title: label,
        lead: content.field_byline|render|striptags,
        brow: node.field_news_type.0.entity.name.value
      },
      aside: {},
      classes: []
    }
  } %}

  {% set body %}
    {% if content.field_date or content.field_author %}
      <div class="jcc-about">
        {% if content.field_author|render %}
          <span>By {{ content.field_author|render|striptags }}</span>
        {% endif %}
        {% if content.field_date %}
          <span>{{ content.field_date|render|striptags }}</span>
        {% endif %}
      </div>
    {% endif %}

    {% if components is not empty %}
      {{ components }}
    {% else %}
      {# Show migrated content in body field if no components added. #}
      {% include "@molecules/body/body.twig" with {
        body: {
          main: {
            text: content.body|render
          },
          classes: []
        }
      } %}
    {% endif %}
  {% endset %}

  {% include '@molecules/section/section.twig' with {
    section: {
      background: 'alt',
      container: 'container',
      content: body
    }
  } %}
{% endblock %}
