{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="grid-container-widescreen padding-y-2">
  <form{{ attributes.addClass('usa-form', 'jcc-form') }}>
    {{ children }}
  </form>

  <div class="margin-top-4 usa-alert__wrapper usa-alert__wrapper--error">
    <div class="usa-alert usa-alert--info usa-alert--slim usa-alert--centered">
      <div class="usa-alert__body">
        <div class="usa-alert__text usa-prose">
          <p>For assistance with this site, please contact <a href="mailto:jcart@jud.ca.gov">jcart@jud.ca.gov</a></p>
          <p>If you do not have an account with us, and wish to sign up for access to this site, please complete the <a href="https://signup.e2ma.net/signup/1959493/1943022">application form</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
