.manage-subs-form.usa-form.jcc-form{
  margin-left: auto;
  margin-right: auto;
  max-width: 87.5rem;
  padding: 2rem;
}
.manage-subs-form.usa-form.jcc-form .usa-legend.jcc-form-group__title{
  padding-bottom: 1rem;
}

footer .subscriptions .description,
footer .subscriptions .form-required{
  display:none;
}

.jcc-messaging-center-section-form .usa-card__content{
  padding: 0 3rem;
}

.jcc-messaging-center-section-form .usa-card__content .usa-form{
  max-width: 600px;
}

.jcc-messaging-center-section-form .usa-card__content .usa-form{
  max-width: 600px;
}

.jcc-messaging-center-section-form .usa-card__content .usa-form .description{
  font-size: 13px;
  color: #ffffff;
}

.jcc-messaging-center-section-form .usa-card__content .usa-form .button.button--primary{
  background-color: #ffffff;
  color: #005ea2;
}

.jcc-messaging-center-section-form .user-register-form .field--name-field-group,
footer .user-register-form .field--name-field-group{
  display: none !important;
}

.page__content .user-register-form {
  max-width: 87.5rem;
  margin: auto;
  padding:2rem;
}

.page__content .user-register-form .form-item-mail{
  max-width: 40rem;
}
