// Component

.view-location{
  &.view-display-id-block,
  &.view-display-id-block_1{
    .location-sidebar h5{
      margin-left: 2rem;
      .fa-map-marker-alt {
        color: #29A197;
        position: absolute;
        left: 1rem;
        top: 5px;
      }
    }
  }
}
