.view-documents-by-category {
  .views--exposed-filters {
    display: flex;
  }
  #views-exposed-form-documents-by-category-block-3 {
    .views--exposed-filters {
      display: block;

      .form-item-search input {
        margin-left: 0;
      }
    }
  }
  .view__content {
    font-size: 1.5em;
    margin-top: .5em;
  }
  .views-field-field-attachments {
    width: 75%;
  }
  .views-field-field-tags {
    white-space: nowrap;
  }
  .views-field-field-upload-date {
    white-space: nowrap;
  }
  .form-item-field-document-type-target-id {
    width: 20% !important;
  }
  .form-item-search {
    width: 75%;

    input {
      height: auto;
      padding: 1em;
      margin-left: 1em;
      margin-top: 0;
    }
  }
  .views-exposed-form .jcc-callout__content {
    height: auto;
  }
  table.usa-table {
    width: 100%;

    caption {
      font-size: 1.1em;
      font-weight: 400;
    }
  }
}
