:root {
  --custom-left-padding: 10px; /* Change once, applies everywhere */
  --custom-text-align: left;    /* Change once, applies everywhere */
}
.name_header h2 {
  padding-top: 3rem;
  padding-right: 24px;
  padding-bottom: 3rem;
  padding-left: var(--custom-left-padding);
  color: #005ea2;
  font-weight: 400;
  letter-spacing: .153846px;
  font-size: 3.62rem;
  font-family: Lora, Georgia, Cambria, Times New Roman, Times, serif;
  margin-bottom: 1.5rem;
  background-color: #f3f3f3;
  width: 1500px;
}
.personal_bio h2 span {
  font-family: Lora, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 2.59rem;
  line-height: 1.2;
  position: relative;
  font-weight: 400;
  /* display: inline-flex; */
  color: #0b4778;

}
.personal_bio h2 {
  margin-bottom: 1.5rem;
}
.personal_bio h2 span:after {
  content: "";
  width: 300%;
  height: 3px;
  display: inline-block;
  background: #0b4778;
  margin: 7px 0px;
  margin-left: 15%;
  position: absolute;
  top: 40%;
}
.personal_bio {
  padding-left: var(--custom-left-padding);
  padding-right: 2rem;
}
.name_personal_bio {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.arbitrator-links-table {
  margin-top: 1.5em
}
.arbitrator-table-custom {
  margin-top: 20px;
  margin-bottom: 20px;
}
thead {
  text-align: var(--custom-text-align);
}

.arbitrator-table-custom,
.arbitrator-table-custom td,
.arbitrator-table-custom tr,
.arbitrator-table-custom th {
  width: 50%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #1b1b1b;
  font-weight: 400;
  padding: 20px;
}
.arbitrator-table-custom th,
.arbitrator-table-custom td {
  padding: 15px;
}
.arbitrator-table-custom th {
  font-weight: bolder;
}

/* form */
.arbitrator .usa-form {
  display: flex;
  column-gap: 4%;
  max-width: 100% !important;
  flex-wrap: wrap;
}
.arbitrator .usa-form-item {
  width: 30% !important;
}
.arbitrator .usa-form #edit-actions {
  display: flex;
  align-items: end;
}
.arbitrator .views-element-container {
  padding-left: var(--custom-left-padding);
}
.arbitrator .views-field.views-field-title {
  margin-top: 30px;
}
.arbitrator .usa-select {
  background-size: 12px auto !important;
}

.arbitrator-views {
  padding: 16px;
  border: 1px dashed #d4d4d8;
  margin-top: 50px;
}
.arbitrator-views table {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-collapse: collapse;
}
.arbitrator-views table th {
  color: #2658a8;
  font-weight: bold;
  padding: 1rem;
  background-color: #e6eefb;
  font-family: Ginter, Inter, "Helvetica Neue", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.arbitrator-views table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}
.arbitrator-views table tbody td {
  font-size: 16px;
  padding: 0.5rem 1rem;
}
.arbitrator-views table tbody td a {
  text-decoration: none;
}
.arbitrator-views table th:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.arbitrator-views table th:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/* Remote Hearings */

.video-views table,
th,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
}

.video-views table {
  width: 100%;
}

.video-views  td,th{
  padding:20px;
  text-align:center;
}

.video-views th{
  font-weight:600!important;
  font-size:20px;
  background-color: #e6eefb;
}

.video-views caption p{
  display: inline-block;
}

.video-views caption{
  text-align: var(--custom-text-align);
  padding: 20px;
  font-weight:600!important;
  font-size:20px;
}

.arbitrator-content {
  padding-left: var(--custom-left-padding);
}
