/* Form custom styles */

/* Overrides styles from chosen library */
form .chosen-container-single{
  padding: .75rem .5rem;
}
form .chosen-container-single .chosen-single{
  border: none;
  background: #ffffff;
  border-radius: 0;
  box-shadow: none;
}
form .usa-fieldset {
  margin: 1.75rem 0;
}
form label.form-required{
  position: relative;
  display: inline-block;
  padding-right: 10px;
}

form label.form-required:after{
  content: '*';
  color: var(--text-error);;
  position: absolute;
  right: 0;
}

.webform-multiple-table .form-checkboxes .form-item,
.webform-multiple-table .form-radios .form-item{
  display: inline-block;
  margin-right: 0.5em;
}
