/* Image Styles */

.image__container-25-percent ,.video__container-25-percent {
  max-width: 25%;
  height: auto;
}

.image__container-50-percent ,.video__container-50-percent {
  max-width: 50%;
  height: auto;
}

.image__container-75-percent ,.video__container-75-percent{
  max-width: 75%;
  height: auto;
}

.image__container-100-percent,.video__container-100-percent {
  max-width: 100%;
  height: auto;
}
