/* Image Styles */

/*.image__container-25-percent {*/
/*  max-width: 25%;*/
/*  height: auto;*/
/*}*/

.image__container-50-percent {
  max-width: 50%;
  height: auto;
}

.image__container-75-percent {
  max-width: 75%;
  height: auto;
}

.image__container-100-percent {
  max-width: 100%;
  height: auto;
}

.video__container-25-percent {
  max-width: 25%;
}

.video__container-50-percent {
  max-width: 50%;
}

.video__container-75-percent{
  max-width: 75%;
}

.video__container-100-percent {
  max-width: 100%;
}

.media-content {
  position: relative; /* Needed to anchor absolute positioning */
  display: inline-block; /* Keeps the image and caption inline */
}

.image__container-25-percent {
  max-width: 50%;
  height: auto;
  display: block;
}

.overlay-caption-customized {
  position: absolute;
  top: 70%; /* Position relative to image */
  left: 24%;
  bottom: 2%;
  /*width: 80%;*/
  transform: translateX(-50%);
  background-color: rgba(64, 64, 64, 0.25);
  color: white;
  text-align: center;
  padding: 5px;
  font-size: .45em; /* Scale based on the parent */
  max-width: 48%;
  z-index: 10;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .overlay-caption-customized {
    font-size: 1.5em; /* Adjust size relative to image */
    width: 90%;
    bottom: 5%;
  }
}
