.jcc-listing_result{
    color: #5c5c5c;
    line-height: 2;
    font-size:1.125rem;
    margin-bottom:22px;
    text-align: left;
}

.jcc-news-listing__content .usa-card__brow-color{
    color: #5c5c5c !important;
    font-size:1.06rem
}

.jcc-news-listing__form > #listing_filter_label{
    font-family: Lora;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.58;
    letter-spacing: normal;
}
.jcc-news-listing__content .jcc-cards--2-50-50-cols>li{
    width:48%;

}

span.jcc-listing-tag{
    flex-grow: 0;
    display: flex;
    background-color: #ffbe2e !important;
    font-family: Lato;
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: 0.38px;
    text-align: left;
    color: #1b1b1b  !important;
    width:max-content;
    padding: 5px 9px !important;
    text-transform: uppercase;
    margin-left:2px;
    margin-top: 1.5rem;
    font-weight: 700;
}

.jcc-location-hero-link.location-listing-page {
    line-height: 1.75rem; 
}

.address.jcc-location-hero-link {
    line-height: 1.8rem;
}


.self-help-count {
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.usa-card__heading a:hover{
    text-decoration:underline;
}

.card-brow-color{
    color:#454545 !important;
}

.map-cards{
    line-height: 1.75rem !important;
}