
.jcc-cards--1-cols > li{
    margin-left:0 !important;
}
.jcc-location-details .jcc-section-heading h2{
    font-size:2.25rem;
    font-family: 'Lora';
}
.jcc-section.location_detail{
    display:none;
}

.jcc-location-details .usa-card--hover .usa-card__heading, .usa-card__heading a, .usa-card__heading a:visited {
    color: #005ea2;
    font-size:1.5rem;
}

.jcc-location-details .usa-card__body {
    font-size:1rem;
}

.jcc-action-list__action.parking {
    background-color:#005ea2 !important;
}

.jcc-action-list__action {
    justify-content: flex-start;
    margin-left:1rem !important;

}

.jcc-location-service-phone-link {
    color: #5c5c5c;
}

.hour-row{
    display: flex;
    column-gap: 5px;
    padding-left:2rem;
    width:max-content;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .hour-row {
        padding-left:5px;
    }
    .jcc-body__aside-bar {
        display:none;
    }
    .jcc-hero--layout-location-details {
        margin-bottom: 0px;
    }
}

.jcc-location__location-tags{
    margin-top: 1rem;
}

.service-info{
    display: flex;
    column-gap: 5px;
    flex-direction: row;
}
.additional_info{
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 0.09px;
}
/* override for location container for new details page.*/
@media (min-width: 64em) {
    .jcc-location--container .jcc-location__container {
        padding-left: 1rem;
    }
}
.jcc-location-page .no-link {
    color: #005ea2;
    font-size: 1.5rem;
  }

@media (min-width: 55em) {
    .jcc-hero--layout-location-details .jcc-hero__main {
        width: 66.16667%;
    }
    .jcc-hero--layout-location-details .jcc-hero__aside {
        padding-left: 0;
    }
}

