@media print {
  .jcc-feedback.block,
  .jcc-offcanvas,
  .block.jcc-chat,
  .jcc-share__container,
  .jcc-footer__container,
  .usa-nav__secondary,
  .jcc-global-bar,
  .nav-tabs, .usa-nav__submenu-inner .usa-nav__submenu-item,
  .jcc-sub-nav {
    display: none !important;
  }

  .jcc-hero__content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .jcc-hero__columns {
    display: block;
  }

  .jcc-hero__column-left,
  .jcc-hero__column-right {
    height: auto;
  }

  .usa-accordion .usa-accordion__content {
    display: block !important;
  }

  .jcc-hero--has-background-color--dark,
  .jcc-hero--has-background-image,
  .jcc-hero--has-background-color--dark .jcc-hero__title,
  .jcc-hero--has-background-image .jcc-hero__title,
  .jcc-primary-nav .usa-nav__primary-item .usa-nav__link[aria-expanded=true] span,
  a {
    color: #000000 !important;
  }

  p, h1, h1, h3, h4, h5, li, span {
    break-inside: avoid;
  }

}
