/* Tentative rulings custom styles */

.tentative-rulings-block-1 #views-exposed-form-tentative-rulings-block-1{
  max-width:100%;
}

.tentative-rulings-block-1 .form-item-field-judge-target-id,
.tentative-rulings-block-1 .form-item-case-number {
  padding-right: 1rem;
  display: inline-block;
}

.tentative-rulings-page .form-item-field-judge-target-id,
.tentative-rulings-page .form-item-case-number {
  flex : 50% !important;
}

.tentative-rulings-page .form-item-case-number input{
  margin-top: 0.5rem !important;
}

.tentative-rulings-page .form-actions {
  margin-top: 2rem;
}
.tentative-rulings-page .form-item--error-message {
  display: none;
}

.tentative-rulings-page .search__content table.usa-table {
  width: 100%;
  max-width: 800px;
}

/* below are fixings for tci-1305 */
.jcc-iframe:has(iframe[src*="old.sb-court.org"]) {
  position: relative;
  width: 900px;
  height: 700px; /* adjust based on remaining content */
  overflow: hidden;
}

.jcc-iframe > iframe[src*="old.sb-court.org"] {
  position: absolute;
  top: -200px;   /* increase this to push .border-rightTop off-screen */
  left: -5px;    /* hides left content*/
  width: 1600px;
  height: 1100px;
  border: none;
}
