:root {
  /* Colors Text */
  --text-base-lighter: #dfe1e2;
  --text-primary-light: #73b3e7;
  --text-primary-vivid: #0050d8;
  /* Colors Background */
  --bg-gray-10: #f0f0f0;
  --bg-gray-10: #e6e6e6;
  /* Height and Width */
  --width-7: 56px;
}
