a[class^='radiomast__status--']::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-left: 15px;
}

.radiomast--is-live::after {
  background-color: green !important;
}
