a[class^='radiomast__status--']::after {
    content: 'offline';
    display: inline-block;
    border-radius: 5%;
    color: white;
    padding: 0 5px 0 5px;
    background-color: red;
    margin-left: 15px;
}

.radiomast--is-live::after {
  content: 'online' !important;
  background-color: green !important;
}
