openid_connect.settings.windows_aad.yml
geocoder.geocoder_provider.bingmaps.yml
system.site.yml
extlink.settings.yml
block.block.jccglossifypathexclusion.yml
block.block.jccbooknavigationblock.yml
jcc_components.settings.logo.yml
jcc_components.settings.facebook.yml
jcc_components.settings.twitter.yml
jcc_components.settings.youtube.yml
jcc_components.settings.scheme.yml
jcc_components.settings.email.yml
jcc_components.settings.flickr.yml
jcc_components.settings.linkedin.yml
jcc_components.settings.rss.yml
jcc_components.settings.header_footer_variant.yml
jcc_components.settings.site_name_first.yml
jcc_components.settings.site_name_second.yml
jcc_components.settings.hat_shoe_title.yml
jcc_components.settings.hat_shoe_url.yml
jcc_components.settings.hat_shoe_text.yml
key.key.*
xmlsitemap.xmlsitemap.*.yml
