<div>
  {% include "@atoms/buttons/link-button.twig" with {
    link_button: {
      text: "Get Directions",
      url: "https://bing.com/maps/default.aspx?where1=" ~ directions_query,
      aria_label: aria_label,
    }
  } only %}
</div>
