{% if content.field_division[0] or content.field_subject_matter[0] or content.field_tags[0] or content.field_topics[0] %}
    {% set meta %}
      {% if content.field_division[0] %}
        <div class="division relevance">
          {{ content.field_division }}
        </div>
      {% endif %}

      {% if content.field_subject_matter[0] %}
        <div class="subject_matter relevance">
          {{ content.field_subject_matter }}
        </div>
      {% endif %}

      {% if content.field_tags[0] %}
        <div class="tags relevance">
          {{ content.field_tags }}
        </div>
      {% endif %}

      {% if content.field_topics[0] %}
        <div class="topics relevance">
          {{ content.field_topics }}
        </div>
      {% endif %}
    {% endset %}

    {% if meta %}
      {% include '@molecules/blocks/card/card.twig' with {
        card: {
          title: 'Relevance',
          excerpt: meta,
        }
      } only %}
    {% endif %}
{% endif %}
