.jcc-media {
  display: table;
  margin-bottom: 2rem;

  img {
    display: block;
  }

  .jcc-media__caption {
    font-size: .88rem;
    text-align: left;
    display: table-caption;
    caption-side: bottom;
    margin-top: 0.25rem;
  }

  &.align-left {
    figcaption {
      margin-right: 1rem;
    }
  }

  &.align-right {
    figcaption {
      margin-left: 1rem;
    }
  }
}

