{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="jcc_services_block">
    <h2 class="jcc-header-group__title">{{ jccservices.headergroup.title }}</h2>
    <div>
      {% for service in jccservices.items.services %}
        <div>{{ service.title }} / {{ service.description }}</div>
      {% endfor %}
    </div>
  </div>
</div>


