{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="jcc_services_block">
    <div>
      {% for service in jccservices.items.services %}
        <div>{{ service.title }} / {{ service.description }}</div>
      {% endfor %}

      --- test ---
      {% include '@organisms/sections/box-nav/box-nav.twig' with {
        list_excerpt_with_button: jccservices
      } %}
    </div>
  </div>
</div>


