
{# Add subscription component as footer links block #}
{% set subscribe_text = 'Signup and receive updates' %}
{% if logged_in %}
  {% set subscribe_text = 'Subscriptions' %}
{% endif %}
{% set links_custom = footer_links %}

{% if messaging_display_footer_form == '1' %}
  {% set subscriptions %}
    <div class="subscriptions">
      {% if not logged_in %}
        <div><a class="usa-button usa-button--primary" href="/user/register">Subscribe</a></div>
      {% else %}
        <div><a class="usa-button usa-button--primary" href="/user/{{ user.id }}/edit">Manage subscriptions</a></div>
      {% endif %}
    </div>
  {% endset %}

  {% set links_custom = links_custom|merge([{
    text: subscribe_text,
    block: subscriptions,
  }]) %}
{% endif %}

{% if not(logged_in) and jcc_messaging_center_enabled %}
  <div class="jcc-section--container">
    <div class="jcc-section__inner">
      <div class="jcc-messaging-center-section-form" data-group-values="{{ group_target_id }}">
        {% include '@molecules/card/card.twig' with {
          card: {
            style: "media-full-overlay",
            title: jcc_messaging_center_categories,
            body: subscriptions,
            bgcolor: "blue",
            media:{
              src: "https://newsroom.courts.ca.gov/sites/default/files/newsroom/2020-08/supreme%20court%20mural%20%28SF%29.jpg",
              alt: "green"
            }
          }
        } %}
      </div>
    </div>
  </div>
{% endif %}

{% include '@organisms/global/footer.twig' with {
  footer: {
    background: header_footer_variant,
    links: links_custom,
    title: site_name,
    social_links: social_links,
    shoe: shoe,
    classes: []
  }
} %}
