.usa-breadcrumb__list-item:last-child {
  display: none;
}

.usa-document-list .views-field.views-field-name {
  padding-left: .5rem;
}

.jcc-metadata.jcc-pro-contextual-edit {
  margin-left: .5rem;
  text-transform: none;
  line-height: normal;
}

/* Ensures correct height proportion in image embeds */
img[typeof="foaf:Image"] {
  height: 100%;
}

/* Granicus */
.granicus {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.granicus__details {
  margin-inline-end: 2rem;
}

.granicus__status {
  background-color: #ffbe2e;
  margin-inline-end: 0.5rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.25rem;
  color: #171716;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
}

.granicus__start_time,
.granicus__captioning {
  font-size: 0.9rem;
}

.granicus__start_time {
  margin-inline-start: 0.5rem;
}

.granicus__actions .jcc-button--inverse {
  margin-block-end: 0.5rem;
  border-radius: 0.25rem !important;
  font-size: 1rem !important;
  color: #005ea2 !important;
  background-color: #ffffff !important;
}

.granicus__actions .jcc-button--inverse::after {
  background-color: #005ea2 !important;
}

/* Make Drupal external icon screen reader visible only */
.ext svg,
.mailto svg {
  position: absolute !important;
  left: -999em !important;
  right: auto;
  transform: unset !important;
}
