.usa-breadcrumb__list-item:last-child {
  display: none;
}

.usa-document-list .views-field.views-field-name {
  padding-left: .5rem;
}

.jcc-metadata.jcc-pro-contextual-edit {
  margin-left: .5rem;
  text-transform: none;
  line-height: normal;
}

/* Ensures correct height proportion in image embeds */
img[typeof="foaf:Image"] {
  height: 100%;
}

.jcc-granicus {
  height: 6rem;
}
