.jcc-livecast {
  width: 100%;
  background: transparent;
  border: none;
}

.usa-breadcrumb__list-item:last-child {
  display: none;
}

.usa-document-list .views-field.views-field-name {
  padding-left: .5rem;
}
