.page__tabs {
  position: relative;
  z-index: 500;
}

/*
.jcc-header__navbar {
  background-color: transparent;
}

.jcc-header__nav {
  .usa-nav {
    background-color: transparent;

    .usa-nav__link {
      background-color: transparent;

      span {
        color: #fff;
      }
    }
  }
}

.jcc-hero--layout-masthead {
  .jcc-hero__main-lead {
    margin-top: 9rem;
  }
}

#main-content {
  position: relative;
  top: -14.6rem;
}
*/
