.jcc-hero__brow {
  //color: #1d8788;
  color: $theme-color-secondary;
}

.field-label--bold {
  div {
    div:first-child {
      font-weight: bold;
    }
  }
}

.document_type {
  div {
    div:not(:last-child):after {
      content: ", ";
    }
  }
}

.address {
  .organization {
    font-size: 1.125rem;
  }
}

.relevance {
  div {
    div:not(:first-child) {
      div:not(:last-child):after {
        content: ", ";
      }
    }
  }
}
