main {
  a:not(.usa-button) {
    color: $jcc-primary-blue-light !important;
  }
}

.teaser {
  font-size: 1.5rem;
}

.field-label--bold {
  div {
    div:first-child {
      font-weight: bold;
    }
  }
}

.document_type {
  div {
    div:not(:last-child):after {
      content: ", ";
    }
  }
}

.address {
  .organization {
    font-size: 1.125rem;
  }
}

.relevance {
  div {
    div:not(:first-child) {
      div:not(:last-child):after {
        content: ", ";
      }
    }
  }
}
