$active-bg: #e6eef8;

// Book side navigation customizations
.jcc-book-container {
  .usa-layout-docs__sidenav {
    margin-top: 2em !important;
    padding: 0 !important;
    background-color: $jcc-primary-blue-lightest;

    .block {
      margin-top: 0 !important;

      a {
        color: inherit !important;
      }

      a:hover {
        background-color: transparent;
        font-weight: bold;
      }

      nav > .usa-sidenav:first-child {
        margin-top: 0.5em;
      }

      .usa-current, .usa-current:hover {
        background-color: $active-bg;
      }

      .usa-current, a:hover {
        color: $jcc-primary-blue-light !important;
      }

      .usa-current + ul {
        a {
          background-color: $active-bg;
        }
      }

      .usa-current::after {
        background-color: transparent;
      }
    }
  }
}
