.xlsx-msg {
  padding: 20px;
  background: rgb(213,254,255);
  background: linear-gradient(128deg, rgba(213,254,255,1) 16%, rgba(213,243,255,1) 39%, rgba(223,231,255,1) 60%);
  border-radius: 4px;
}

.xlsx-msg.require-license {
  margin-bottom: 10px;
}

.xlsx-info-msg {
  padding: 20px;
  background: #f8fafb;
  border-radius: 4px;
}
