@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
.roc__document__content ul.list__container {
  list-style-type: none;
}
.roc__document__content > .box > .container > ul.list__container {
  padding-inline: 0;
}
.roc-document-toc__nav-links {
  color: var(--color-primary);
  position: sticky;
  top: 0;
}
@media print {
  .roc-document-toc__nav-links {
    display: none;
  }
}
body.toolbar-tray-open.toolbar-horizontal .roc-document-toc__nav-links {
  top: 39px;
}
body.toolbar-tray-open.toolbar-horizontal .roc-document-toc__nav-links {
  top: 79px;
}
.roc-document-toc__nav-links.upper-links {
  background: var(--color-primary-light-xxx);
  padding-block: var(--s-1);
}
.roc-document-toc__nav-links.lower-links {
  background: transparent;
  padding-block: var(--s2) var(--s6);
  /*border-top: 1px solid var(--color-primary-light-xxx);*/
}
.roc-document-toc__nav-links ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.roc-document-toc__nav-links ul li {
  font-size: var(--s-1);
  display: inline-block;
}
.roc-document-toc__nav-links ul li + li {
  /*margin-inline-start: var(--s-1);*/
  padding-inline-start: var(--gap);
  border-inline-start: 1px solid var(--color-base);
}
.roc-document-toc__nav-links li.align-right {
  border-inline-start: 0 solid var(--color-primary);
  margin-inline-start: auto;
}
.roc-document-toc__nav-links li.align-right + li.align-right {
  border-inline-start: 1px solid var(--color-base);
  margin-inline-start: var(--s-1);
}
.roc-document-list__item + .roc-document-list__item {
  margin-block-start: 0;
}
.roc-document-list__item > *:not(.roc-document-list__item__link) {
  border-inline-start: 2px solid var(--color-base);
  margin-inline-start: var(--s-3);
  padding-inline-start: var(--s-3);
}
.roc-document-toc__nav-links .item__align-right {
  border-inline-start: none;
  margin-inline-start: auto;
}
.roc-document-list__item__pdf-link {
  font-size: var(--s-2);
}
.layout-content .section__content.box .section__content.box .section__main ul.roc-document-list {
  margin-inline-start: -1.5rem;
}

/* Mobile styling*/
.roc-document-toc__nav-links ul.roc-document-list.wrapping {
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  gap: .5rem;
}
.roc-document-toc__nav-links ul.roc-document-list.wrapping li.item__align-right {
  display: flex;
  justify-content: flex-end;
  margin-inline-start: auto;
  width: 100%;
}
.roc-document-toc__nav-links ul.roc-document-list.wrapping li + li {
  margin-inline-start: 0;
  padding-inline-start: 0;
  border-inline-start: none;
}

/* Rules of Court block listing */
#block-views-block-jcc-roc-views-block-1 .views-field-field-rule-media,
#block-jccrulesofcourtlisting .views-field-field-rule-media {
  padding-inline-start: .5rem;
  margin-inline-start: .25rem;
  border-inline-start: 1px solid var(--color-black);
}
#block-views-block-jcc-roc-views-block-1 .views-field-field-rule-index-listing-note,
#block-jccrulesofcourtlisting .views-field-field-rule-index-listing-note {
  padding-inline-start: .25rem;
}
