.back-to-top {
  display: none;
  position: fixed !important;
  bottom: 2rem;
  right: 2rem; 
  border-radius: 6px;
  cursor: pointer;
  z-index: 1000;
}

.back-to-top.show {
  display: block;
}

#back-to-top.button {
  padding: 0.5rem !important;
}

#back-to-top.button::after {
  background: none !important;
  content: none !important;  
}
