.location-row {
  /*display: flex;
  align-items: flex-start;*/
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.location-number {
  width: 40px;
  font-weight: bold;
}

.address-block {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 2rem;
}

.address-left, .address-right {
  font-size: 14px;
  line-height: 1.5;
}
