
.staff-table table thead th {
  background-color: #FCE2C5 ;
  color: black !important;
  padding: 15px !important;
}

.staff-table th.is-active,
.staff-table td.is-active {
  background-color: #C05600;
  color: #fff !important;
}


.staff-table td.is-active {
  background-color: #cce5ff; 
}
.staff-table th a .tablesort {
  display: none; 
}


.staff-table td.col-highlight-cell {
  background-color: #FCE2C5 !important; 
}


.staff-table th.tablesort-asc,
.staff-table th.tablesort-desc,
.staff-table th.is-active a {
  background-color: inherit !important;
  color: inherit !important;
}

.staff-table td.col-highlight-cell {
  background-color: #FCE2C5 !important; 
}

.staff-table td.contact a {
  color: #007BFF ;
  text-decoration: underline !important;
}

.staff-table th a {
  color: inherit !important; 
  text-decoration: none !important;
}

.staff-table td.col-highlight-cell a,
.staff-table th.col-highlight-header a {
  color: inherit;        
  text-decoration: none; 
}

.back-to-directory {
  display: inline-block;
  background-color: none;
  color: #C05600;
  text-decoration: none;
  border-radius: 4px;
}

.filter-search-heading {
  font-style: normal !important;
}

.jcc-jrn-contact-staff-filter-form .form--inline,
.jcc-jrn-contact-officer-filter-form .form--inline {
  gap: 0 !important;
  display: unset !important;
}

.jcc-jrn-contact-staff-filter-form .placeholder-container.form-item:not(.form-item-search),
.jcc-jrn-contact-officer-filter-form .placeholder-container.form-item:not(.form-item-search) {
    width: 100%;
  border-block-end: unset !important;
}

.jcc-jrn-contact-staff-filter-form .placeholder-container label 
.jcc-jrn-contact-officer-filter-form .placeholder-container label {
  display: none;     
}

.jcc-jrn-contact-staff-filter-form .views-exposed-form .placeholder-container.form-item input:focus,
.jcc-jrn-contact-officer-filter-form .views-exposed-form .placeholder-container.form-item input:focus {
  border: 1px solid #C05600;
}

.filter-button {
  width: 250px !important;
}

.jcc-jrn-contact-ajp-filter-form {
  display: flex !important;
}

.staff-table {
  width: 100%;
}

.staff-table th a::after {
  content: "";
  font-size: 12px;
  margin-left: 5px;
  background: url('/themes/custom/jcc_elevated/icons/table_doublearrow.svg') no-repeat center;
  background-size: contain;
   display: inline-block;
  width: 12px;
  height: 12px;
}

.staff-table th.is-active[aria-sort="ascending"] a::after {   
  background: url('/themes/custom/jcc_elevated/icons/up_arrow.svg') no-repeat center;
  background-size: contain;
  
}
.staff-table th.is-active[aria-sort="descending"] a::after { 
  background: url('/themes/custom/jcc_elevated/icons/down_arrow.svg') no-repeat center;
  background-size: contain;
  
}


.staff-table th a .tablesort::before,
.staff-table th a .tablesort::after {
  display: none !important;
  content: none !important;
}

.staff-table .tablesort {
  display: none !important;
}

td.col-highlight-cell {
  background-color: #FCE2C5 !important;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}
