
.staff-table table thead th {
  background-color: #FCE2C5 ;
  color: black !important;
  padding: 15px !important;
}

.staff-table th.col-highlight-header {
  background-color: #C05600 !important; 
  color: #fff !important;            
}

.staff-table td.col-highlight-cell {
  background-color: #FCE2C5 !important; 
}

.staff-table table thead th:hover {
  background-color: #FCE2C5; 
  color: white !important;  
  padding: 15px !important;
}

.staff-table th.tablesort-asc,
.staff-table th.tablesort-desc,
.staff-table th.is-active a {
  background-color: inherit !important;
  color: inherit !important;
}

.staff-table th.col-highlight-header {
  background-color: #C05600 !important;
  color: #fff !important;
}
.staff-table td.col-highlight-cell {
  background-color: #FCE2C5 !important; 
}

.staff-table td.contact a {
  color: #007BFF ;
  text-decoration: underline !important;
}

.staff-table th a {
  color: inherit !important; 
  text-decoration: none !important;
}

.staff-table td.col-highlight-cell a,
.staff-table th.col-highlight-header a {
  color: inherit;        
  text-decoration: none; 
}

.back-to-directory {
  display: inline-block;
  padding: 8px 16px;
  background-color: none;
  color: #C05600;
  text-decoration: none;
  border-radius: 4px;
}

.filter-search-heading {
  font-style: normal !important;
}

.jcc-jrn-contact-staff-filter-form .form--inline {
  gap: 0 !important;
  display: unset !important;
}

.jcc-jrn-contact-staff-filter-form .placeholder-container.form-item:not(.form-item-search) {
    border: 2px solid black;
    width: 100%;
}


.filter-button {
  width: 250px !important;
}

.officer-container {
  flex-wrap: unset !important;
}


.jcc-jrn-contact-ajp-filter-form {
  display: flex !important;
}

/*.staff-table th.tablesort--asc a,
.staff-table th.tablesort--desc a {
  background-image: none !important;
  position: relative;
  padding-right: 20px;
}


.staff-table th.tablesort--asc a::after {
  content: "▲"; 
  font-size: 12px;
  color: #C05600;
  position: absolute;
  right: 5px;
}

.staff-table th.tablesort--desc a::after {
  content: "▼";
  font-size: 12px;
  color: #C05600;
  position: absolute;
  right: 5px;
}*/
