.related_links {
  .jcc-card__title {
    display: inline-block;
    position: relative;
    padding-top: 0.5em;
    color: #0b4778;
    text-transform: uppercase;
    font-family: Lato, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.24rem;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-top: 3px solid #449dac;
    content: "";
    height: 3px;
    top: 0;
    left: 0;
  }
}
