.usa-form-item .jcc-search-input-wrapper {
  position: relative;
}

.usa-form-item .jcc-search-input-wrapper input[type="text"] {
  padding-left: 30px;
}

.jcc-news-listing-form__filters-filter .form-item-search::after {
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  right: 5px !important;   /* Position from the right edge */
  left: auto !important;  /* Override any existing left positioning */
  color: #666 !important;
  font-size: 16px !important;
  pointer-events: none; /* Prevent interference with clicks */

  /* Vertical centering with offset: */
  top: calc(50% + 11px) !important;  /* Position slightly below the center */
  transform: translateY(-50%) !important; /* Shift up by half the icon's height */
  padding-right: 25px !important; /* Add padding to the right */
}
