/**
 * Tentative Ruling edit form field style adjustment.
 */
 /* Normalize "Case Number" field (title) styling */
 .node-tentative-ruling-edit-form #edit-title-0-value {
   font-size: 1rem;
   font-weight: normal;
 }

/* Make "Caption" field slightly highlighted */
.node-tentative-ruling-edit-form #edit-field-caption-0-value {
  font-size: 1.25rem;
}
