drupal-media .visually-hidden {
  position: relative !important;
  overflow: unset !important;
  clip: unset;
  width: auto;
  height: auto;        
}

.media-library-item__edit {
  display: inline-block !important;          
}

drupal-media[data-align=right] {
  display: inline;
  float: right;
}
  
drupal-media[data-align=left] {
  display: inline;
  float: left;
}
  
.cke_widget_wrapper drupal-media[data-align=center] {   
  display: block;
  justify-content: center; 
  text-align: center;  
}
  
.align-center {
  justify-content: center;
  text-align: center;
}
  
.align-left {
  margin-right: 1.5rem;  
}