.media-library-item__edit {
  display: inline-block !important;  
}

drupal-media[data-align=right] {
  display: inline;
  float: right;
}

drupal-media[data-align=left] {
  display: inline;
  float: left;
}

drupal-media[data-align=center] { 
  display: block;
  justify-content: center; 
  text-align: center;  
}
