/*= HELPER STYLES TO FIX STORYBOOK ODDITIES =================================*/
/*.primary-nav--alternate {*/
/*  display: block;*/
/*}*/
.primary-nav__item.nav-level-2 {
  z-index: 200;
}
html.js.no-touchevents .dropbutton--extrasmall .dropbutton__toggle {
  --dropbutton-extrasmall-toggle-size: 23px;
}
.focal-point-derivative-preview[data-image-style="judge_portrait"] img {
  border-radius: 50%;
  filter: grayscale(100%);
}
.request__main-content hr {
  margin-block: var(--gap);
  border-block-end: 1px dotted var(--accent-color);
}
/* == TWEAKS FOR STORYBOOK 0.56.1 */
.nav-tabs .is-collapse-enabled .tabs__trigger,
.nav-tabs .is-collapse-enabled .nav-tabs__item.is-active {
  z-index: 1 !important;
}

/* == TWEAKS FOR STORYBOOK 0.57.3 */
.hangover .hangover__top-hangover-content .card .card__text {
  --color: var(--color-black);
}
.header .header-search .header-search__form input {
  --corner-radius: 5rem;
}