/* General gin admin theme changes */
.gin--classic-toolbar .page-wrapper__node-edit-form .layout-region-node-secondary {
  padding-top: 0 !important;
}
/* END General gin admin theme changes */

/* "Solicitation Request (RFP)" node type style tweaks to the add/edit form */
#edit-group-main-content #edit-group-request-information > .fieldset__legend--visible {
  display: none;
}
#edit-group-main-content #edit-group-request-information > .fieldset__wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
}
#edit-group-main-content #edit-group-request-information #edit-field-rfp-number-wrapper,
#edit-group-main-content #edit-group-request-information #edit-field-rfp-number-wrapper input {
  width: 100%;
}
.field-group-tabs-wrapper ul.horizontal-tabs-list li.horizontal-tab-button.selected a {
  background: var(--gin-bg-item-hover);
}
/* END "Solicitation Request (RFP)" node type style tweaks to the add/edit form */

/* START Features page UI improvements */
.features-export-list {
  overflow: scroll;
  max-height: 20rem;
}
.features-export-list .form-checkboxes {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
}
.features-export-list .form-checkboxes > div.form-type--checkbox {
  margin-block: .25rem;
}
/* END Features page UI improvements */
