.form-items-inline .form-item {
  margin-bottom: var(--gin-spacing-m) !important;
}
.field--widget-jcc-elevated-custom-daterange-all-day .fieldset__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.field--widget-jcc-elevated-custom-daterange-all-day .fieldset__wrapper .form-datetime-wrapper {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
}
.field--widget-jcc-elevated-custom-daterange-all-day .fieldset__wrapper .form-datetime-wrapper:last-child {
  margin-right: auto !important;
  margin-inline-end: auto !important;
}
.field--widget-jcc-elevated-custom-daterange-all-day .fieldset__wrapper .form-wrapper {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  margin-block-end: 0 !important;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}
.field--widget-jcc-elevated-custom-daterange-all-day .fieldset__wrapper .form-type--checkbox {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin-block-end: 0 !important;
}
#field-rfp-important-dates-values .field--name-field-text .cke .cke_contents {
  max-height: 120px !important;
}
