.primary-nav--alternate {
  display: block;
}

.primary-nav__item.nav-level-2 {
  z-index: 200;
}

html.js.no-touchevents .dropbutton--extrasmall .dropbutton__toggle {
  --dropbutton-extrasmall-toggle-size: 23px;
}

.focal-point-derivative-preview[data-image-style="judge_portrait"] img {
  border-radius: 50%;
  filter: grayscale(100%);
}

.request__main-content hr {
  margin-block: var(--gap);
  border-block-end: 1px dotted var(--accent-color);
}
