{% set message %}
  Looking for opinions or case information from previous terms?
  We recommend starting with the <a href="https://appellatecases.courtinfo.ca.gov/search.cfm?dist=0">Docket Search</a>
  located on the California Courts website where you can search by case number, case name, or names of the parties associated with the case.
{% endset %}

{% extends 'themes/custom/jcc_components/templates/views/views-view--search.html.twig' %}

