svg.icon {
  width: 1rem;
  height: 1rem;
  color: #005ea2;
}

svg.ext {
  height: 1rem;
  width: 1rem;
  margin: 0 0.25rem;
}

.placeholder-photo {
  height: 100%;
  background-color: #f3f3f3;
  text-align: center;

  i {
    font-size: 7rem;
    color: #e2e2e2;
    line-height: inherit;
  }
}
