.views-exposed-form .placeholder-container.form-item .shs-container {
  order: 2;
  margin: 0;
}

.views-exposed-form .placeholder-container.form-item .shs-container .shs-widget-container {
  display: block;
}

.views-exposed-form .placeholder-container.form-item .shs-container .shs-widget-container:not(:first-of-type) {
  margin-block-start: var(--s-3);
}
