ul.item-list__checkbox.form-checkboxes {
    padding-inline: var(--s0);
    margin-top: var(--s2);
}
li.facet-item.form-item.form-checkbox {
    margin: 0;
    padding: 0;
}
li.facet-item.form-item.form-checkbox label {
    margin: 0;
    padding: 0;
    margin-block-start: 0 !important;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.view-results.view-results--search_results {
    --sidebar-width: 27ch;
}
.view-results.view-results--search_results .view-results__results.with-sidebar>.sidebar {
    background-color: var(--color-base-light-xxx);
    padding-block: var(--s3);
    padding-inline: var(--s1);
}
.view-results.view-results--search_results .view-results__results .content>ol {
    margin-block-start: 0;
}
.view-results.view-results--search_results .view-results__results .sidebar .facet-empty {
    display: none;
}