.granicus {
  --color: var(--color-white);
  background-color: var(--background-secondary);
  color: var(--color);
}

.granicus__content {
  --gap: var(--s-1);
  align-items: start;
  padding: var(--s0);
}

.granicus__main {
  align-items: start;
}

.granicus__body {
  max-inline-size: 82ch;
}

.granicus__heading {
  font-size: var(--s0);
  font-weight: 600;
}

.granicus__heading .granicus__time,
.granicus__text {
  font-size: var(--s-1);
  font-weight: normal;
}

.granicus__heading .granicus__time {
  margin-inline-start: var(--s-2);
}

.granicus__actions .granicus__captioning {
  margin-block-start: var(--s-3);
  font-size: var(--s-1);
}

.granicus__actions .granicus__captioning a {
  color: inherit;
}
