/* Image Styles */

.image__container-25-percent {
  max-width: 25%;
  height: auto;
}

.image__container-50-percent {
  max-width: 50%;
  height: auto;
}

.image__container-75-percent {
  max-width: 75%;
  height: auto;
}

.image__container-100-percent {
  max-width: 100%;
  height: auto;
}

.section__content .section__main:not(.grid) > .box.component_group {
  padding-block-start: var(--s2);
}

.section__content .section__main .component_group {
  padding: 0 !important;
}
