/*.placeholder-container.js-form-type-textfield input:focus {
  outline: none; 
}

.placeholder-container.js-form-type-textfield:focus-within {
  border: 1px solid #C05600;
}

.placeholder-container label {
  margin-bottom: 0.25rem;
  display: none;
}


.card--bordered-center .card>div, .card--bordered .card>div, .card.card--bordered-center>div, .card.card--bordered>div {
    border: none;
}

.card--bordered-center .card, .card--bordered .card, .card.card--bordered, .card.card--bordered-center {
    border: 28px solid var(--border-color,var(--color-accent-warm-light-xxxx));
}

.cluster select {
    width: 250px;
    
}*/


/*.placeholder-container.js-form-type-textfield input:focus + label,
.placeholder-container.js-form-type-textfield input:focus {

}*/

/*.placeholder-container label {
  position: static !important;
  font-size: 1rem;
  top: auto;
  left: auto;
  color: inherit;
  transform: none;
}*/

/*.switcher>* {
    flex-basis: unset;
}*/