.legislative-reports{
  background-color: var(--color-base-light-xxx);
}

.legislative-reports > .placeholder-container.form-item:not(.form-item-search){
  padding-block-end: unset !important;
  border-block-end: unset !important;
}

.legislative-reports > .placeholder-container.form-item>label {
  padding-block-end: unset !important;
}