.itc {
  background-color: var(--color-base-light-xxx);
}

.itc .placeholder-container {
  padding-block-end: 0 !important;
  margin-block-start: 0;
}

.itc .form-item input[type="text"] + label,
.itc .form-item label {
  padding-block-end: 0 !important;
  margin-bottom: 0.5rem;
}