.search-filter {
  background-color: var(--color-base-light-xxx);
  padding-block: var(--s3);
  padding-inline: var(--s1);
  font-style: italic;
  line-height: normal;
  margin-block-end: var(--s-3);
}

.search-filter h2 {
  font-size: var(--s1);
}