.surplus-image-card img { 
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.surplus-image-card {
 width: 100%; 
}

.surplus-image-grid {  
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2rem;
}

.surplus-heading {
  color:var(--color-black);
}
