.surplus-image-card img { 
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.surplus-image-card {
 width: 100%; 
}

.surplus-image-grid {  
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2rem;
}

.surplus-heading {
  color:var(--color-black);
}

.surplus-table {
  table-layout: fixed;
  width: 100%;
}

.surplus-table th,
.surplus-table td {
  padding: 8px;
  vertical-align: top;
  overflow: hidden;  
}

.surplus-table td .cell-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 100%;
}

.wrap-content {
  white-space: normal;
  word-break: break-word;
}