.block--jcc-appellate-map {
  margin-inline: -1.25rem;
  margin-block: var(--s2) 0;
}

.jcc-appellate-map__legend__container {
  border: var(--s-2) solid #F3F3F3;
}

.jcc-appellate-map__legend__inner {
  border: 1px dashed #919191;
}

.jcc-appellate-map__legend__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--s2) var(--s0);
}

.jcc-appellate-map__legend__heading h2 {
  padding: 0 var(--s-4) var(--s-5);
  border-block-end: 2px dotted #C9C9C9;
  font-size: var(--s1);
  text-transform: uppercase;
  line-height: normal;
}

.jcc-appellate-map__legend__content {
  padding-block: 0 var(--s0);
  padding-inline: var(--s2);
}

.jcc-appellate-map__legend__detail[open] {
  padding-block: 0 var(--s2);
}

.jcc-appellate-map__legend__detail summary {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--s-1);
  font-size: var(--s1);
  color: #0B4778;
  padding-block: var(--s-6);
}

.jcc-appellate-map__legend__icon {
  display: block;
  border: 6px solid #C05600;
  border-inline-end: 0;
  border-block-start: 0;
  border-inline-start-color: #C05600;
  border-block-end-color: #C05600;
  width: 1rem;
  aspect-ratio: 1 / 1;
  margin-inline-start: auto;
  rotate: 135deg;
  margin-block-start: 0.5rem;
  transition: all ease .25s;
  border-radius: 2px;
}

.jcc-appellate-map__legend__detail[open] .jcc-appellate-map__legend__icon {
  border: 6px solid #C05600;
  border-inline-end-color: #C05600;
  border-block-start-color: #C05600;
  border-inline-start: 0;
  border-block-end: 0;
  margin-block-start: -0.5rem;
  transition: all ease .25s;
}

.jcc-appellate-map__legend__district-color-block {
  display: inline-block;
  width: var(--s4);
  aspect-ratio: 2 / 1;
  background-color: green;
}

.jcc-appellate-map__legend__district-color-block[data-district-id="District_1"] {
  background-color: #34A37E;
}

.jcc-appellate-map__legend__district-color-block[data-district-id="District_2"] {
  background-color: #0B4778;
}

.jcc-appellate-map__legend__district-color-block[data-district-id="District_3"] {
  background-color: #25B6E2;
}

.jcc-appellate-map__legend__district-color-block[data-district-id="District_4"] {
  background-color: #5C5C5C;
}

.jcc-appellate-map__legend__district-color-block[data-district-id="District_5"] {
  background-color: #2378C3;
}

.jcc-appellate-map__legend__district-color-block[data-district-id="District_6"] {
  background-color: #4BD6A7;
}

.jcc-appellate-map__legend__button.button,
.jcc-appellate-map__legend__button {
  display: inline-block;
  margin-block-start: var(--s0);
  margin-inline-end: auto;
  padding-inline: var(--s0);
  font-size: var(--s0);
}

.jcc-appellate-map__map-viewport__inner {
  border: 2px solid #F3F3F3;
  padding: 0;
  aspect-ratio: 1 / 1;
  /*overflow: hidden;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.jcc-appellate-map__map-viewport__inner svg {
  /*max-height: 100%;*/
  /*max-width: 100%;*/
}

.jcc-appellate-map__map-viewport__inner .district-item {
  display: none;
}

/* Map styling */
svg > g > g > g {
  transition: all ease .5s;
}

svg > g:hover > g > g {
  pointer-events: fill;
  opacity: 0.4;
  fill: #C9C9C9;
  transition: all ease .5s;
}

svg > g > g > g:hover {
  opacity: 1;
  transition: all ease .5s;
}

svg > g > g > g#District_1:hover {
  fill: #34A37E;
}

svg > g > g > g#District_2:hover {
  fill: #0B4778;
}

svg > g > g > g#District_3:hover {
  fill: #25B6E2;
}

svg > g > g > g#District_4:hover {
  fill: #5C5C5C;
}

svg > g > g > g#District_5:hover {
  fill: #2378C3;
}

svg > g > g > g#District_6:hover {
  fill: #4BD6A7;
}
