.jcc-card.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 1rem;
}

.jcc-card.person .jcc-card__media {
  height: 8rem;
  width: 8rem;
  min-width: 8rem;
  position: relative;
  margin-right: 1.5rem;
}

.jcc-card.person .jcc-card__media img {
  z-index: 2;
  position: relative;
  height: 8rem;
  width: 8rem;
}

.jcc-card.person .jcc-card__title {
   font-size: 3.48rem;
 }

