{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 * - args_url: Oral Arguments page URL for the docs found if available - preprocessor variable.
 *
 * @see template_preprocess_views_view()
 */
#}

{% if rows -%}
  {% set global = rows[0]['#rows'][0]['#node'] %}
  {% set items = [] %}

  {% if global.field_document_type.0.entity.name and global.field_document_type.0.entity.name.value == 'Oral Argument' %}
    {# Display documents by case name for Oral Arguments. Query hook returns more than view default to ensure sufficient cases to display. #}
    {% set max = 4 %}
    {% set hearing = global.field_date_range %}

    <h3>{{ hearing.end_value and hearing.end_value|date('Ymd') > hearing.value|date('Ymd') ? hearing.value|date('F j') ~ ' to ' ~ hearing.end_value|date('j, Y') : hearing.value|date('F j, Y') }} Argued Cases</h3>

    {% set unique = [] %}
    {% for row in rows[0]['#rows'] if unique|length < max %}
      {% set item = row['#node'] %}
      {# Display most recent cases once #}
      {% if item.field_date_range.value|date('Ymd') == hearing.value|date('Ymd') and item.field_case.target_id not in unique %}
        {% set unique = unique|merge([item.field_case.target_id]) %}
        {% set title = item.field_case.entity.name.value %}
        {% set case = {
          url_title: title and title|length < 35 ? title : title|striptags|slice(0, 35) ~ '...',
        } %}
        {% set items = items|merge([case]) %}
      {% endif %}
    {% endfor %}

    {# Briefs page link #}
    {% if args_url %}
      {% set more_link = {
        url_title: 'View briefs of current cases',
        url: args_url,
      } %}
    {% else %}
      {% set more_link = {
        url_title: '(Briefs of current cases coming soon)',
      } %}
    {% endif %}
    {% set items = items|merge([more_link]) %}
  {% else %}
    {% set anchor_align = 'right' %}
    {% for row in rows[0]['#rows']|slice(0, max) %}
      {% set item = row['#node'] %}
      {% set doc = {
        url: file_url(item.field_media.entity.field_media_file.entity.fileuri),
        url_title: item.title.value,
        description: item.field_date.value|date('M d, Y'),
        aria_label: description,
      } %}
      {% set items = items|merge([doc]) %}
    {% endfor %}
  {% endif %}

  {% include "@molecules/list/list.twig" with {
    list: {
      style: 'none',
      columns: 1,
      anchor_align: anchor_align,
      items: items,
    }
  } %}
{% elseif empty -%}
  {{ empty }}
{% endif %}
