{% set briefs = [] %}
{% for k, item in items if k|first != "#" %}
  {% set links %}
    <ul>
      {% for brief in item %}
        <li>{{ brief.link }}</li>
      {% endfor %}
    </ul>
  {% endset %}
  {% set accordion = {
    title: item[0].year == dateTime|date('Y') ? 'Current Year' : item[0].year,
    body: links
  } %}
  {% set briefs = briefs|merge([accordion]) %}
{% endfor %}
{% include "@organisms/accordion/accordion.twig" with {
  accordion: {
    collapse_first: content.field_toggle['#items'].value,
    item_tag: "h2",
    classes: [],
    items: briefs
  }
} %}
