{% set cases %}
  {% for item in items %}
    <h2>{{ item.docs[0].case.name }}</h2>
    {% if item.docs[0].case.description %}
      {{ item.docs[0].case.description|raw }}
    {% endif %}

    {% set docs = [] %}
    {% for doc in item.docs %}
      {% set description %}
        Filed on {{ doc.filing_date }} {% if doc.edit_option %}({{ doc.edit_option}}){% endif %}
      {% endset %}
      {% set link = {
        url_title: doc.title,
        url: doc.url,
        aria_label: 'View or download document ' ~ doc.title,
        description: description
      } %}
      {% set docs = docs|merge([link]) %}
    {% endfor %}

    {% include "@molecules/list/list.twig" with {
      list: {
        tag: 'ol',
        columns: 1,
        items: docs,
      }
    } %}
  {% endfor %}
{% endset %}

{% include "@molecules/section/section.twig" with {
  section: {
    spacing: 'top',
    content: cases,
    background: 'default',
  }
} %}
