{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{# Prepare the items array #}
{% set items = [] %}
{% for row in rows %}
  {% set items = items|merge([row.content]) %}
{% endfor %}

{# Include the locations template with the processed items #}
{% set listing_page_new = drupal_config('jcc_custom.settings', 'enable_new_listing_page') %}
 {% if listing_page_new == "new" %}
    <div class="jcc-hero jcc-hero--layout-full-main ">
          <div class="jcc-hero__main">
            {{ drupal_view('location', 'embed_1') }}
          </div>
    </div>
  {% else %}
    {% include "@organisms/locations/locations.twig" with {
      locations: {
        items_pre_rendered: true,
        items: items
      }
    } %}
  {% endif %}
