{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% set cards =[] %}

{% set twitterfeed%}
  <div class="twitterfeed">
      <a class="twitter-timeline" data-lang="en" data-width="500" data-height="400" href="https://twitter.com/CalCourts?ref_src=twsrc%5Etfw" data-chrome="noheader nofooter">California Courts on Twitter</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
{% endset %}

{% set subscriptions %}
  <div class="subscriptions">
    {% if not logged_in %}
      {{ drupal_block('formblock_user_register') }}
    {% else %}
      <div><a class="usa-button usa-button--primary" href="{{ path('entity.user.canonical', {'user': user.id}) }}/edit">Manage subscriptions</a></div>
    {% endif %}
  </div>
{% endset %}

{% set connected %}
  <div class="stayconnected">
    {% include '@molecules/blocks/social-links/social-links.twig' with {
      social_links: footer.social_links
    } %}
  </div>
{% endset %}

{% set cards = [
  { 'title': 'California Courts on Twitter', 'excerpt': twitterfeed },
  { 'title': 'Subscriptions', 'excerpt': subscriptions },
  { 'title': 'Stay Connected', 'excerpt': connected }
] %}

<div class="jcc-footer-secondary">
{% include '@organisms/sections/card-section/card-section.twig' with {
    card_section: {
      column_variant: "has-three-columns",
      cards: cards
    }
} %}
</div>
