.view-location {

  &.view-display-id-block {
    display: flex;
    flex-direction: row;

    .location-sidebar {
      flex: 1 0 auto;
      height: 500px;
      overflow-y: auto;
      background: $theme-color-base-darkest;
      color: $theme-color-base-lightest;
      padding: 3rem;

      &__location {
        margin: 1rem 0;

        a {
          text-decoration: underline;
          color: $theme-color-base-lightest;
        }

        i {
          margin-right: 1rem;
          color: $theme-color-accent-cool;
        }
      }
    }

    .view__content {
      flex: 7 0 auto;
    }
  }
}

