.view-location {

  &.view-display-id-block {
    display: flex;
    flex-direction: row;

    .location-sidebar {
      flex: 3 0 auto;
      overflow-y: auto;
      background: $jcc-primary-blue-darker;
      color: $theme-color-base-lightest;
      padding: 3rem;

      @media screen and (min-width: 640px) {
        height: 560px;
      }
      @media screen and (max-width: 640px) {
        max-width: 100% !important;
      }

      a {
        color: $jcc-accent-warm-light !important;
      }

      &__location {
        margin: 1rem 0;

        h5 {
          font-size: 1.1rem;
        }

        a {
          text-decoration: underline;
        }

        i {
          margin-right: 1rem;
          color: $theme-color-accent-cool;
        }

        > div {
          margin-left: 2rem;
        }
      }
    }

    .view__content {
      flex: 6 0 auto;
      display: none;

      @media screen and (min-width: 640px) {
        display: block;
      }
    }
  }
}

