{#
/**
 * @file
 * Theme implementation to display the sitemap page.
 *
 * Available variables:
 * - message: A configurable introductory message.
 * - sitemap_items: An array of renderable content items
 *
 * @see template_preprocess()
 * @see template_preprocess_sitemap()
 */
#}

{% set sitemap_content %}
  <div class="sitemap">
    <h1>{{ 'Sitemap'|t }}</h1>
    {% if message %}
      <div class="sitemap-message">
        {{ message }}
      </div>
    {% endif %}
    {% if sitemap_items %}
      {% for item in sitemap_items %}
        {{ item }}
      {% endfor %}
    {% endif %}
  </div>
{% endset %}

{% include '@molecules/body/body.twig' with {
  body: {
    main: {
      title: false,
      lead: false,
      text: sitemap_content
    }
  }
} %}
