.jcc-alert::before {
  display: none;
}

.jcc-alert {
  background-image: none !important;
}

.usa-alert--info {
  .jcc-alert__body {
    @include alert_img('info');
  }
}

.usa-alert--success {
  .jcc-alert__body {
    @include alert_img('success');
  }
}

.usa-alert--warning {
  .jcc-alert__body {
    @include alert_img('warning');
  }
}

.usa-alert--error {
  .jcc-alert__body {
    @include alert_img('error');
  }
}

.jcc-alert__body {
  display: block !important;
  max-width: 84rem;
  background-size: 1.6rem;
  background-position: 0 9px !important;
  background-repeat: no-repeat;
}

.jcc-alert__heading {
  display: inline;
}

.jcc-alert__text {
  display: inline;

  div {
    display: inline;

    p:first-child {
      display: inline;
    }

    p:not(:first-child) {
      margin: 10px 0 4px;
    }
  }
}
