{{ attach_library("jcc_storybook/DataVisualizationEmbed") }}
{{ attach_library("jcc_custom/iframeresizer") }}

{% if paragraph.field_width_mobile.value %}
  {% set mobile_width = paragraph.field_width_mobile.value %}
{% else %}
  {% set mobile_width = 1 %}
{% endif %}

{% if paragraph.field_height_mobile.value %}
  {% set mobile_height = paragraph.field_height_mobile.value %}
{% else %}
  {% set mobile_height = 1 %}
{% endif %}

<div class="container">
  {% include "@molecules/DataVisualizationEmbed/DataVisualizationEmbed.twig" with {
    width: paragraph.field_width.value | default(1),
    height: paragraph.field_height.value | default(1),
    mobile_width: mobile_width,
    mobile_height: mobile_height,
    url: paragraph.field_link.uri,
    mobile_url: paragraph.field_mobile_link.uri,
    img_data: img_data_url,
    mobile_img_data: mobile_img_data_url,
    alt_text: paragraph.field_data_image.entity.field_media_image.alt,
    mobile_alt_text: paragraph.field_mobile_data_image.entity.field_media_image.alt
  } %}
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    let iframe = document.getElementsByTagName("iframe")[0];
    if (iframe) {
      let iframeID = '#' + document.getElementsByTagName("iframe")[0].id;
      iFrameResize({lowestElement: true}, iframeID);
    }
  });
</script>
