{{ attach_library("jcc_storybook/Iframe") }}

<div class="container">
  {% include "@molecules/Iframe/Iframe.twig" with {
    variant: paragraph.field_aspect_ratio.value,
    url: paragraph.field_link.uri,
    ratio: 'square'
  } %}
</div>

