{% set classes = [
  'box',
  paragraph.type.value.0.target_id ? paragraph.type.value.0.target_id : '',
] %}

<div class="{{ classes|join(' ') }}">
  <div class="container">
    {{ content }}
  </div>
</div>
