.user-form-subscriber {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 87.5rem;
  .field--name-field-subscriptions {
    .form-item{
      position: relative;
    }
    .usa-label {
      margin-left: 25px;
    }
    .usa-checkbox__input {
      left: 0;
      top: 2px;
    }
  }
}
